[2013-01-08 21:26] osantana opened #1 "Finalizar a Ata 007"
https://docs.google.com/document/d/1dhOsMalgtlKIbDFWQGwY60aqY4Yr92SLekkBChw8aJM/edit

A formatação da ata e outros modelos de atas podem ser encontradas em:

http://associacao.python.org.br/associacao/registro/atas/

[2013-01-08 21:27] osantana opened #2 "Pagar hosting iWeb"
Via PayPal ou pagamento com reembolso.

[2013-01-08 21:31] osantana opened #3 "Implantar o sistema de associados e migrar associados"
1. https://github.com/pythonbrasil/associados
2. Vamos usar o heroku que é gratuito
3. Migrar os associados cadastrados no sistema atual
4. Verificar (manualmente? :/) a situação dos associados no novo sistema.

[2013-01-08 21:36] osantana opened #4 "Revisar participantes da apyb-condir"
Colocar todo mundo como owner/manager

Depende do ticket #1

[2013-01-08 21:39] osantana opened #5 "Adicionar extrato do mês 12/2012 no site"

[2013-01-10 10:57] taniaa opened #6 "Registrar no cartório a ata 007"
Publicar a versão digitalizada em http://associacao.python.org.br/associacao/registro/atas/

[2013-01-10 11:02] taniaa opened #8 "Tentar renomear a conta no YouTube"
Por um equívoco de exclusão que fizeram, tentar retomar a conta PythonBrasil e mover os vídeos da conta PythonBrazil para ela.

[2013-01-10 22:59] #2 closed, assigned to osantana

[2013-01-14 19:13] #5 closed, assigned to ramiroluz

[2013-01-14 19:16] taniaa opened #9 "Atualizar versão do Python no Plone.org.br"
Após restauração de ambiente no final de semana pelo Rudá, notei que não aparece a opção de Itens Relacionados no site Plone.org.br.

Sugeri ao Rudá atualizar a versão do Python de 2.6.6 para 2.7.2, como está nos sites da APyB e PythonBrasil[9], com Plone 4.2.

[2013-01-16 02:06] taniaa opened #10 "Adicionar site no planet"
A pedido do Bruno Rocha, adicionar feed no http://www.python.org.br/planet/

RSS: http://feeds.feedburner.com/rochacbruno

[2013-01-16 11:53] #10 closed, assigned to osantana

[2013-01-16 14:17] taniaa opened #11 "Criar o código de conduta da APyB"
Sugeri o do Plone, como as PyLadies fizeram.

Osvaldo concordou:

"""
    Acho que poderíamos aproveitar o código de conduta da Plone (até porque o evento será compartilhado) e evitar o desgaste de um debate longo.
"""

[2013-01-16 14:31] taniaa opened #12 "Mudar a sede da APyB no Estatuto"
Esta é uma demanda antiga.

O objetivo é principalmente facilitar as movimentações financeiras da APyB.

[2013-01-19 20:34] taniaa opened #13 "Implementar conexão segura no site python.org.br"

[2013-01-20 02:46] #13 closed, assigned to rudaporto

[2013-01-20 15:30] taniaa opened #14 "Renovar python.org.br"
"""
Em 19/02/2013, termina o período de validade do registro de seu
domínio. Esta mensagem inicia o processo onde você poderá escolher o
período de renovação ou optar por não renová-lo.

Domínio:    python.org.br
Criado em:  19/02/2008
Expiração:  19/02/2013
"""

[2013-01-20 18:15] osantana opened #15 "Digitalizar a Ata 006 e colocá-la no site"
Colocar essa versão no lugar da versão disponível em:

http://associacao.python.org.br/associacao/registro/atas/ata-006/view

[2013-01-21 03:30] rudaporto opened #16 "Bloquear SPAM no wiki www.python.org.br"
Ao visitar o link das mudanças recentes é possível ver o quanto o site está sendo atacado por spammers:

http://www.python.org.br/wiki/Mudan%C3%A7asRecentes

Precisamos conter esse abuso.

[2013-01-21 03:39] rudaporto opened #17 "Excluir todo SPAM criado pelos bots no wiki ww.python.org.br"
Montar uma força tarefa para possíbilitar a exclusão do conteúdo de SPAM que foi criado pelos bots no wiki www.python.org.br.

Hoje a exclusão de conteúdo está limitada ao grupo AdminGroup, porém é preciso incluir mais administradores ou criar um novo grupo para dar permissão aos usuários da força tarefa para ajudar a limpar nosso wiki.

[2013-01-26 14:28] taniaa opened #18 "Atualizar manualmente a relação de associados da APyB"

[2013-01-29 20:44] taniaa opened #19 "Atualizar a versão do Plone no site 2013.pythonbrasil.org.br"
Da versão 4.2.0.1 para a estável 4.2.4.

[2013-01-30 12:56] taniaa opened #20 "URGENTE - Virar a chave de 2013 para www no site do evento"
Privei o que tinha de conteúdo inacabado:

http://2013.pythonbrasil.org.br/

[2013-01-31 13:46] #20 closed, assigned to osantana

[2013-01-31 17:20] lskbr opened #21 "Erro 500 ao editar wiki"
Aproveitando a volta dos servidores, eu estou com problemas na Wiki há alguns dias (acho que quase uma semana).

Eu acabei de testar e os problemas ao solicitar preview ou alteração de qualquer página, continuam lá. Ambos geram erro 500.

Eu não consegui contactar o Ruda, mas já passei vários emails, ele deve estar ocupado com outras coisas.

Se alguém puder dar uma olhada, eu agradeço.

Atenciosa

[2013-02-05 15:44] #16 closed, assigned to rudaporto

[2013-02-05 15:55] rudaporto opened #22 "Problemas de lentidão e travamento sites servidor zopebrasil.python.org.br (melhorias de ambiente)"
Depois da migração das instâncias Zope da PythonBrasil / Associação (Plone 4.2) e sites antigos da PythonBrasil (Plone 3.x) para o servidor virtual zopebrasil.python.org.br, depois de algum tempo o servidor fica lento a aplicação para de responder.

Melhorias que precisam ser feitas:
- unificar as instâncias zope de plone.org.br com a instância de associacao.python.org.br e 2013.pythonbrasil.org.b

[2013-02-05 18:44] rudaporto opened #23 "Instalar plugins de monitoramento nos servidores APyB Zabbix e/ou Munin e monitorar aplicações"
Conseguir o recursos de servidores de monitoramento Zabbix (Osvaldo disse que pode usar o dele) e Munin (vou falar com o Xiru se ele pode emprestar o dele).

Usando essas ferramentas devemos ter indicadores constantes de desempenho do ambiente e bem como receber alertas de aviso em caso de problemas de segurança, espaço em disco, latência de disco, load alto, etc.

Finalmente, é possível monitorar

[2013-02-05 18:47] rudaporto opened #24 "Definir um política de backup e uma estratégia de retenção dos backups e plano de recuperação"
Hoje a APyB hospeda alguns serviços por conta própria e não temos definido claramente uma política de backup e um procedimento para recuperação do ambiente em caso de falhas.

Isso na verdade deveria cobrir todos os serviços, mesmo os hospedados em terceiros para que exista uma documentação clara de como restabelecer os serviços e como fazer deploy dos ambientes em caso de ser preciso recuperar em

[2013-02-06 03:10] taniaa opened #25 "Documentar como subir serviços dos sites PZP"
Como o site da APyB, Plone.org.br, 2013.pythonbrasil.org.br e 2011.pythonbrasil.org.br

[2013-02-08 11:09] filipecifali opened #26 "Usuário para acesso aos servidores"
Olá, gostaria de um usuário para o(s) servidor(es) da apybr, pretendo auxiliar no gerenciamento dele(s).

Se existir alguma política de segurança, por favor, me informem.

[2013-02-08 17:02] #19 closed, assigned to rudaporto

[2013-02-15 15:22] osantana opened #27 "Encaminhar questões de registro de marcas relacionadas a Python no Brasil"
Buscar apoio (inclusive financeiro) da:
- PSF
- Plone Foundation
- Zope Foundation
- Django Foundation
- Web2Py/Massimo (PSF?)

Para dar encaminhamento no registro das marcas:
- Python
- Django
- Plone
- Zope
- Web2Py

Através da contratação de um escritório de registro de marcas e gerenciamento do processo.

Esse processo é importante para evitar eventuais problemas como o que está acontecendo na

[2013-02-15 16:42] taniaa opened #28 "Divulgar chamada pra proposta no evento Dev in Sampa na lista apyb-associados"
Dev in Sampa - http://devinsampa.com.br - ocorrerá dia 18 de maio (sábado).

Estão atualmente em fase de chamadas para proposta. http://abr.io/devinsampa2013

[2013-02-15 16:43] taniaa opened #29 "Negociar apoio ao evento Dev in Sampa"
Dev in Sampa - http://devinsampa.com.br

[2013-02-15 16:48] taniaa opened #30 "Negociar parceria com os organizadores do evento SouDevCon"
A pedido do Osvaldo, abri esta issue:

O evento ocorrerá em Setembro/2013, próximo à PythonBrasil[9].

Site: http://soudevcon.com.br/

O Anderson O. de Paula <andersonop gmail com> contactou o Ramiro recentemente.

O Luciano manifestou interesse no primeiro contato, há um tempo atrás, mas não foram pra frente na negociação.

[2013-02-16 00:05] ramiroluz opened #31 "Verificar erro portal_setup -> CMFEditions"
Ao tentar publicar arquivo pdf, na pasta financeiro/2013.

Ocorreu o seguinte erro:
Traceback (innermost last):
  Module ZPublisher.Publish, line 126, in publish
  Module ZPublisher.mapply, line 77, in mapply
  Module ZPublisher.Publish, line 46, in call_object
  Module Products.CMFPlone.FactoryTool, line 453, in **call**
  Module ZPublisher.mapply, line 77, in mapply
  Module ZPublisher.Publish,

[2013-02-19 03:50] taniaa opened #32 "Atualizar documentação sobre moderação da lista python-brasil"
http://associacao.python.org.br/workarea/procedimentos-web/moderacao-pythonbrasil/

A página está privada e está como texto estruturado na hora da edição no site.

1) Eu acrescentaria:
"
Em XXXX o serviço foi migrado para os `Grupos do Google <http://groups.google.com>`_ endereço python-brasil@googlegroups.com.
"

2) Revisaria quem são os moderadores.

3) Adicionaria o processo descrito pelo Werne

[2013-03-01 12:07] ramiroluz opened #33 "Modelo para resposta de solicitações de participação na lista de associados sem comprovante de pagamento."
Para responder uma solicitação de participação na lista de associados
precisamos de um texto educado que possa, quem sabe atrair o solicitante
à se associar.

[2013-03-01 12:16] #33 closed, assigned to ramiroluz

[2013-03-09 15:19] taniaa opened #34 "Renovar domínio pythonbrasil.org.br"
"Em 08/04/2013, termina o período de validade do registro de seu
domínio. Esta mensagem inicia o processo onde você poderá escolher o
período de renovação ou optar por não renová-lo.

Domínio:    pythonbrasil.org.br
Criado em:  08/04/2009
Expiração:  08/04/2013"

[2013-03-09 21:19] #14 closed, assigned to ramiroluz

[2013-03-11 22:35] #34 closed, assigned to ramiroluz

[2013-03-12 14:02] taniaa opened #35 "Excluir usuários SPAM no wiki ww.python.org.br"
Relacionado com o #17

[2013-03-12 14:03] #17 closed, assigned to rudaporto

[2013-03-14 21:09] taniaa opened #36 "Corrigir plugin de tuitar no site da APyB"
Escrevi a notícia:
http://associacao.python.org.br/associacao/imprensa/noticias/chamada-para-envio-de-proposta-do-i-encontro-nordestino-de-python

Tuitei:
https://twitter.com/taniaandrea_com/status/312307545295446016

Mas não contabilizou.

[2013-03-18 13:34] #29 closed, assigned to osantana

[2013-03-19 03:35] #12 closed, assigned to osantana

[2013-03-28 04:52] #28 closed, assigned to turicas

[2013-03-28 05:22] taniaa opened #37 "Declarar IR"
O Osvaldo começou o processo com a Maria do Carmo (Caxias).

Ontem no almoço o Giuseppe (Serpro RJ e organizador da Plone Conference com a comunidade PloneGov-BR) pegou com a Tatiana (Big Kahuna 2012) o talão de notas, notas e contratos emitidos pro evento que estavam com ela (parece que o contrato do local do evento estava com o Turicas - Big Kahuna 2012 também), atas e demais documentos.

[2013-03-28 05:40] #22 closed, assigned to rudaporto

[2013-03-28 06:02] taniaa opened #38 "Adicionar banner da PythonBrasil[9] no site da APyB"
E nos sites amigos

[2013-03-28 06:28] #38 closed, assigned to nobody

[2013-03-28 20:37] #1 closed, assigned to cadu-leite

[2013-03-29 03:50] #21 closed, assigned to rudaporto

[2013-03-29 16:56] #36 closed, assigned to nobody

[2013-04-09 23:15] taniaa opened #39 "Organizar seleção de palestras por parte da APyB"

[2013-04-20 10:07] taniaa opened #40 "Horário do servidor - URGENTE"
Verificar o horário do servidor onde está o site 2013.pythonbrasil.org.br.

Notei que os itens estão com data do mês de junho ao invés de abril:
http://2013.pythonbrasil.org.br/recently_modified?b_start:int=20

[2013-04-29 06:17] taniaa opened #41 "Trocar links e referências no Plone (associe-se) para o novo sistema"
Cheguei a mudar um link mas retornei ao encontrar algo estranho que reportei aqui:
https://github.com/pythonbrasil/associados/issues/71

Pois o usuário perderia a data histórica de sua associação.

[2013-04-29 06:18] taniaa opened #42 "Desligar/Desativar o sistema antigo no site Plone"
Solicitação aberta a pedido do Osvaldo que implantou o novo sistema dia 23/4.

[2013-04-29 06:19] taniaa opened #43 "Avisar as listas apyb-associados, python-brasil, etc sobre o novo sistema de associados"
Avisar que os usuários foram migrados do sistema antigo e podem ter sido migrados com alguns problemas.

As senhas dos usuários migradas podem ser geradas no endereço: http://associados.python.org.br/password/request/

O sistema contém: Um cadastro de membros, integração com meio de pagamento, notificações de vencimento por e-mail, api REST para verificação de status e mais algumas coisinhas menos

[2013-05-04 01:42] #42 closed, assigned to nobody

[2013-05-04 01:43] #41 closed, assigned to taniaa

[2013-05-04 01:47] #3 closed, assigned to petry

[2013-05-04 01:48] #6 closed, assigned to osantana

[2013-05-17 21:08] renatooliveira opened #44 "Notas fiscais para a Python Nordeste"
YACOWS - R$ 300,00
YACOWS Desenvolvimento de Software Ltda ME
CNPJ: 13.394.053/0001-86

Grupo Fortes - R$ 300,00
Fortes Informática Ltda
CNPJ: 63.542.443-0001-24

Evolux - R$ 300,00
Evolux Sistemas LTDA,
014.190.549/0001-09

Index - R$ 700,00
Index Serviços em Comunicação e Design Gráfico Ltda.
05.261.365/0001-93

Triadworks - R$ 700,00
TRIADWORKS SERVICOS EM INFORMATICA LTDA
CNPJ: 08.472.999/0001

[2013-05-17 21:11] renatooliveira opened #45 "Empenho para a Python Nordeste"
Servidores do Instituto Federal do Ceará,
- Jéssyca Alencar Leão e Silva
- Rodrigo dos Santos Silva
- Neila Temoteo de Matos Bastos

3 Inscrições de R$ 100,00 cada.

Precisa de mais algum dado?

Eles estão precisando destes aqui:

1 - CNPJ E RAZÃO SOCIAL DA EMPRESA QUE ESTÁ PROMOVENDO O EVENTO, A QUAL SERÁ A CREDORA DA RESPECTIVA NOTA DE EMPENHO;
2 - ENDEREÇO COMPLETO;
3 - DADOS BANCÁRIOS;

[2013-05-23 11:33] turicas opened #46 "Transferir web2py.com.br para APyB"
O @rochacbruno sugeriu que eu transferisse o domínio web2py.com.br (que eu registrei há alguns anos) para a entidade da APyB no registro.br. A ideia é que fique mais fácil gerenciar os domínios usados pela comunidade, mesmo quando membros parem de contribuir com determinados projetos (que foi justamente o meu caso: atualmente não contribuo com o web2py e o Bruno contribui bastante).

[De acordo co

[2013-05-23 22:17] #43 closed, assigned to turicas

[2013-06-23 21:38] #39 closed, assigned to turicas

[2013-07-10 14:57] taniaa opened #47 "Unificar base de dados"
Unificar base de dados do site da Associação e do sistema de Associados, conforme orientações passadas pelo @rudaporto.

[2013-07-10 15:02] taniaa opened #48 "Divulgar abertura de envio de propostas para sediar a PythonBrasil[10]"
Prazo de recebimento das propostas: até meados de Agosto/2013.

Exemplo de proposta:
https://plone.org/events/conferences/plone-conference-2013/proposals/brasilia-brazil/brasilia-plone-conference-2013-proposal-v01/view

[2013-08-12 15:27] #48 closed, assigned to turicas

[2013-08-12 19:01] taniaa opened #49 "Aumentar espaço em disco nas máquinas da APyB"
Hoje o Squid ficou fora e o Rudá excluiu um Data.fs.old por hora. Mas deve haver a solução definitiva de aumentar o disco na máquina que serve o site da APyB, edições anteriores do evento Python Brasil, etc.

[2013-08-30 12:00] #18 closed, assigned to ramiroluz

[2013-08-30 13:59] #37 closed, assigned to osantana

[2013-08-30 14:00] #4 closed, assigned to osantana

[2013-09-03 19:34] skhaz opened #50 "Pedido de inclusão no Planeta PythonBrasil"
Endereço: http://www.nullonerror.org/
Endereço do RSS: http://feeds.feedburner.com/NullOnError?format=xml

[2013-09-06 05:58] #44 closed, assigned to nobody

[2013-09-11 19:26] magnunleno opened #51 "Pedido de inclusão no Planeta PythonBrasil"
Olá! Gostaria que incluíssem meu blog no Planeta Python Brasil.
Blog: http://mindbending.org/pt/
RSS: http://feeds.feedburner.com/MindBending-pt

Obrigado!

[2013-09-17 21:07] #30 closed, assigned to rochacbruno

[2013-09-17 21:10] #15 closed, assigned to nobody

[2013-10-03 20:37] filipesaraiva opened #52 "Pedido de adição de feed no Planeta Python Brasil"
Olá, sou desenvolvedor do KDE e neste ano criei o backend para python no Cantor, uma aplicação que funciona como IDE para desenvolvimento cientĩfico/matemático, a ser disponibilizada no KDE 4.12.

Gostaria de pedir a inscrição do meu feed no planeta.

Site: http://blog.filipesaraiva.info/
Feed: http://blog.filipesaraiva.info/?feed=rss2&tag=planeta-python-brasil
Nome: Filipe Saraiva

[2013-10-09 13:07] osantana opened #54 "Divulgar o resultado da assembléia"
Tópicos:

* Nova Diretoria
* Novos Conselhos
* Nova Anuidade
* Melhorias no Estatuto
* Local da PythonBrasil[10]

Divulgar:

* Listas de discussão
* Site

[2013-10-28 23:49] #52 closed, assigned to renatooliveira

[2013-10-29 00:14] #51 closed, assigned to nobody

[2013-10-29 00:18] #50 closed, assigned to osantana

[2013-10-29 00:18] #45 closed, assigned to nobody

[2013-12-03 17:17] fernandogrd opened #55 "Pedido de adição de blog no Planet"
Olá,
Criei recentemente meu blog:

http://livingintheshell.com/
http://livingintheshell.com/feeds/all.atom.xml

Nele falo principalmente de Python, Django e coisas relacionadas a infra estrutura.

[]s

[2013-12-13 15:57] #55 closed, assigned to renatooliveira

[2013-12-19 18:02] taniaa opened #56 "Renovar certificado do Python.org.br que está expirado"
Como o Ramalho disse na lista apyb-associados, o certificado do Python.org.br expirou em abril de 2013.

Referências:
* A globalsign esta dando certificados SSL free para projetos open-source e comunidades https://www.globalsign.com/pt-br/
* Inscrição em: https://www.globalsign.com/ssl/ssl-open-source/

[2013-12-19 18:10] taniaa opened #57 "Documentar o processo para registros de domínio pela APyB"

[2013-12-27 23:22] sergiofasilva opened #58 "Gostaria de incluir o meu blog sobre Python, o www.empython.com, no planeta PythonBrasil."

[2014-05-22 13:47] rochacbruno opened #59 "Incluir o PythonClub no planet"
Por favor incluir o feed http://pythonclub.com.br/feeds/all.atom.xml no planet

[2014-06-24 09:10] wilsonfreitas opened #60 "Incluir aboutwilson.net no planet"
Por favor, incluir os posts sobre python do blog.aboutwilson.net no planet.

http://blog.aboutwilson.net/feeds/python.rss.xml

[2014-06-25 03:13] luzfcb opened #61 "wiki - Atualizar pagina InicieSe"
https://www.python.org.br/wiki/InicieSe
- [ ] Atualizar tutorial de instalação da maquina virtual no windows para Python3
- [ ] Incluir botão explicito e grande para a pagina de download da maquina virtual
- [ ] Atualizar lista de IDE's
- [ ] Atualizar lista de editores de texto e incluir screenshots
- [ ] Incluir links para interpretador onlines

[2014-06-25 04:04] luzfcb opened #62 "wiki - Atualizar pagina ImpressioneSe"
A pagina `https://www.python.org.br/wiki/ImpressioneSe` tem sido utilizada para em varias campanhas de marketing no Facebook, contudo ela possui informações muito desatualizadas o que acaba sendo marketing mais danoso do que benéfico para nossa comunidade.

Se eu fosse um desavisado e encontrasse aquela pagina, com toda certeza eu iria procurar outra coisa pra aprender, menos Python, pois aquela p

[2014-06-25 04:09] luzfcb opened #63 "wiki - Renovar certificado digital"
O certificado digital python.org.br expirou em 18/04/13
- [ ] a apyb tem $$ para isso ou será necessário alguém pagar ou fazer uma vakinha?

[2014-06-25 04:10] #63 closed, assigned to nobody

[2014-06-25 04:11] luzfcb opened #64 "wiki - Rever segurança do site"
Encontrei o seguinte mensagem, mas não sei até que ponto isto comprometeria a segurança, se é se isto é uma falha
..."No entanto, esta pagina inclui outros recursos que não são seguros..."

![seguracao_pythonorg2](https://cloud.githubusercontent.com/assets/807599/3381462/2aa074c4-fc1f-11e3-8973-2eee777e8e54.png)

[2014-06-25 11:15] #26 closed, assigned to nobody

[2014-06-27 18:35] luzfcb opened #66 "Valores de associação estão divergentes"
Os valores o site a Associação PythonBrasil[1] e o site do Sistema de Gerenciamento de associados[2] estão divergentes.

O valor correto é o contido em[2].

[1] http://associacao.python.org.br/
[2] http://associados.python.org.br/

[2014-06-27 20:07] #66 closed, assigned to nobody

[2014-06-29 10:47] lskbr opened #67 "Pedido de inclusão no planeta-python"
Olá,

Eu gostaria de participar do planeta Python.

Blog:
http://junglecoders.blogspot.be/

Tag:
python

Obrigado,

Nilo Menezes

[2014-07-09 14:28] #64 closed, assigned to nobody

[2014-07-30 14:11] stummjr opened #68 "Inclusão do blog Python Help no planet"
Incluir o rss do Python Help no planet: http://pythonhelp.wordpress.com/feed/

[2015-01-14 12:36] filipecifali opened #69 "Contatar a Rackspace para criar conta da apyb"
Limite de custo de 2.000 USD por 1 ano gratuitamente

[2015-01-14 12:36] filipecifali commented on #69
São 2 máquinas a princípio, pelo que li dos serviços, precisamos de 2 Cloud Servers com as configs descritas no documento.

[2015-01-14 12:45] filipecifali opened #70 "Modificar ambiente utilizado pelos sites da apyb"
Unificar: Plone da associação + plone.org.br + PlonePythonBrasil/PloneConf 2013
Separar: Djangobrasil.org
Tornar estático: old.pythonbrasil.org.br

Recursos necessários:
1 x 4vCPU 4GB RAM (hostname sugerido: apybs01.pythonbrasil.org.br)
1 x 2vCPU 2GB RAM (hostname sugerido: apybs02.pythonbrasil.org.br)

apybs01 - sites unificados no plone
apybs02 - sites djangobrasil + old + sites da pythonbrasil

[2015-01-14 12:50] filipecifali opened #71 "Restauração do Plone PythonBrasil/PloneConf"
Temos o conteúdo do site armazenado no backup:

root@li68-189:/backup/zopebrasil/home/apyb# ls la vs42-apyb.tgz
-rw-r--r- 1 root root 5693490578 Nov 6 19:28 vs42-apyb.tgz
Data => /home/maza/

Precisamos restaurar este plone, possilvemente sejá só o caso de iniciar ele, visto que os dados do OS inteiro estão ali, sendo necessário replicar o virtualhost e subir o Plone

[2015-01-19 18:34] rudaporto commented on #69
Foi criada a conta com email sites@python.org.br, esse email é um "grupo" no Google Apps da APyB.

Em seguida foi enviado um email com os dados da conta criada para a Dana, e também os links e informações dos sites que temos.

Após o envio do email, ainda não tivemos retorno da Dana a respeito, segue o email enviado abaixo:

[2015-01-19 18:35] rudaporto commented on #69
Também no grupo sites@python.org.br foram cadastrados todos que confirmaram presença na primeira reunião.

[2015-01-19 20:09] rudaporto commented on #69
Dana retornou com informações que a Conta que eu criei foi encerrada pois não conseguiram confirmar por telefone.

Está em processo de reativar a conta e liberar a mesma, assim que tivermos essa confirmação o crédito será concedido.

[2015-01-20 15:54] avelino opened #72 "Cron do planet nao esta rodando"
Acredito que o processo de pegar os blogposts dos feed nao esta rodando!

[2015-01-28 01:19] rochacon commented on #69
Já temos a conta. @rudaporto podemos fechar este issue, certo?

[2015-01-28 01:20] rudaporto commented on #69
Yeap! Serviço funcional e com GRANT ;-)

[2015-01-28 01:20] #69 closed

[2015-01-28 05:47] rudaporto commented on #58
@sergiofasilva preciso do caminho completo do feed com o filtro para temas relativos a python apenas.

[2015-01-28 05:49] rudaporto commented on #70
Esse ticket é um EPIC.

Agora que temos um espaço no RackSpace, foram criados já um servidor para wiki outro para os Plones, falta apenas o ambiente para o Django.

Vou manter esse ticket aberto até que todos os outros que detalham cada etapa sejam fechados.

[2015-01-28 05:52] rudaporto opened #73 "Criar uma nova VM no RackSpace para os sites Plone"
Criar uma nova VM para os sites Plone e copiar todos os dados de backup desses sites para dentro da VM.

[2015-01-28 05:53] rudaporto commented on #71
Esse Plone será restaurado na VM de Plone nova no RackSpace, a issue #73 trata da preparação do ambiente necessário para subir esse site novamente.

[2015-01-28 05:55] rudaporto commented on #73
Uma nova VM com nome plone foi criada no RackSpace:
 - IP: 104.239.163.48
 - Disco: 40G (raid10 SSD)
 - CPU: 2 VCPUs
 - Mem: 2G

Os dados estão sendo copiados via rsync, contendo todos os sites Plone:
 - associacao
 - old pythonbrasil
 - pythonbrasil
 - pythonbrasil2013
 - plone.org.br

[2015-01-28 05:57] rudaporto opened #74 "Criar nova VM no RackSpace para WIKI e Planet"
Além de criar a nova VM o site wiki.python.org.br precisa ser migrado, incluindo o Planet e as configurações do NGINX e DNS para os domínios:
 - wiki.python.org.br
 - www.python.org.br
 - www.pythonbrasil.org.br (.com.br)

[2015-01-28 06:01] rudaporto commented on #74
Após a criação da VM foram instalados os seguintes pacotes:

# debian dependencies
apt-get install build-essential python
apt-get install python-dev libpcre3-dev python-xapian
apt-get install daemontools-run
apt-get install python-pip
apt-get install nginx

Em seguida foi compilado o wwsgi:

pip install uwsgi

Foram copiados os dados do wiki e planet via rsync (do servidor Linode para o novo wiki

[2015-01-28 06:01] #74 closed

[2015-01-28 06:05] rudaporto commented on #73
Todos os sites foram copiados para o novo servidor.

Foi criado um registro novo no DNS:
 - plone.python.org.br

Próximo passo é subir os sites, porém cada site será tratado em um issue separada.

[2015-01-28 06:05] #73 closed

[2015-01-28 06:08] rudaporto commented on #72
@avelino acredito que consegui resolver o problema, porém vários blogs precisam ser incluídos (ver issues) e outros estão quebrados e precisam ser corrigidos.

Você pode ajudar nessa revisão? Me passa sua chave pública para acessar via ssh o servidor se puder trabalhar nisso.

[2015-01-28 08:45] sergiofasilva commented on #58
Olá.

O feed relativo a python é o seguinte:
http://www.sergiofasilva.com/feed/python

Cumprimentos,
Sérgio

On Wed, Jan 28, 2015 at 5:47 AM, Rudá Porto Filgueiras <
notifications@github.com> wrote:

--
Sérgio Silva
http://www.sergiofasilva.com <http://www.sergiosilvablog.com>

[2015-01-28 13:00] avelino commented on #72
Ajuda com maior prazer cara:
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC5OfVvY6xmZdtw5pYJMECnfRfMm7zWMytg+IL9AyNhbu8UdBmGdT6wUiBBBw9CTcdnmDYj08n8gWXV6Jz2eazl7fC27HQr9BzJb35FM1LpnXncSDNxn5Itj89ROIgY70d2obp35K9+I+muFkAYuYJEHjtrGr7KIlC1oM+v+K43Jla4SotoBleLNbec0GwtyeYBB7bL9yhGhpEje+dtpLJFd5H/bDBuvjDg/tPHeAnflg0QfUeYfNDC44psY/uJQGBrob3eLcOdJSIV418JS+z1inC9Iljg+xkHGwWg3TSS2lD4ufZcKumBpc2S7T9XSVVB0KDeFTgyQHN

[2015-01-28 22:05] rudaporto commented on #72
Avelino, acebei de descobrir o problema:

https://github.com/jlas/juanl.org/tree/master/planet

A mesma solução, pois o erro era o mesmo, problema com o módulo timeoutsocket.py.
Apenas removi ele do pacote planet, assim como o módulo feedparser.py (embora esse último não era necessário e precisou de um patch).

Também coloquei sua chave ssh no authorized_keys.

[2015-01-28 22:05] #72 closed

[2015-01-28 22:21] rudaporto commented on #72
Faltou dizer que atualizei todos os blogs que já estavam no planet porém defasados, assim ficamos sem itens quebrados.

Segue  o comando para rodar manualmente a atualização do Planet depois de atualizar a lista de blogs:

(pythonwiki)root@wiki:/home/apyb/pythonwiki# ./bin/planetplanet etc/planet.conf

[2015-01-28 22:24] rudaporto commented on #68
Blog incluso no Planet.

[2015-01-28 22:24] #68 closed

[2015-01-28 22:27] rudaporto commented on #58
Incluso.

[2015-01-28 22:27] #58 closed

[2015-01-28 22:31] rudaporto commented on #59
Feito!

[2015-01-28 22:31] #59 closed

[2015-01-28 22:34] rudaporto commented on #60
Feito!

[2015-01-28 22:34] #60 closed

[2015-01-28 22:35] rudaporto commented on #67
Fala Nilo!

Como passa a tag python para o feed? Se tiver a URL facilita.

[2015-01-28 23:13] avelino commented on #72
@rudaporto acho que podemos deixar isso ainda mais facil, colocar nosso source do planet aqui no github onde cada um manda um PR para incluir um novo blog, assim nao fica so na mao de 1 ou 2 e sim na mao da comunidade, e colocar um hook para rodar test para ver se o blog adiciona eh um feed valido e caso passe damos um git pull la na pasta e reload no servico.

Como comentei, estou aqui para ajuda

[2015-01-28 23:20] avelino commented on #72
pelo que eu vi aqui o repositorio do planet seria praticamente um repo com o arquivo **planet.conf** (assim ja conseguimos solucionar isso).

Voce cria esse repo e me da acesso?

[2015-01-30 11:18] rudaporto commented on #72
Ok, mas isso é outra issue. Tem os templates também que precisa estar no repo.

São duas issues, uma criar o repo e subir o que está lá, e outra automatizar o update.

[2015-01-30 11:22] rudaporto opened #75 "Criar uma nova VM no RackSpace para Django Brasil"
Criar um nova VM para o site Django Brasil, copiar o backup e fornecer acesso a quem pode reconfigurar o site.

[2015-02-02 13:08] rudaporto commented on #75
A nova VM "django" foi criada no RackSpace da Python Brasil.

Copiei todos o backup da VM djangobrasil que rodada no iweb para o novo servidor no caminho /backup.

Enviei uma mensagem na lista Django Brasil informando da nova VM e solicitando o contato dos responsáveis pelo site para poder passar o acesso em PVT para que eles possam reconfigurar o mesmo.

[2015-02-02 13:08] #75 closed

[2015-02-02 13:10] rudaporto commented on #67
Achei a resposta:
- https://support.google.com/blogger/answer/53336?hl=en

Então ficou assim a URL de filtro:
- http://junglecoders.blogspot.be/feeds/posts/default/-/python

[2015-02-02 13:13] rudaporto commented on #67
Blog incluso no Planet.

[2015-02-02 13:13] #67 closed

[2015-02-04 00:41] luizirber opened #76 "Compartilhamento de senhas - Mitro"
Criado um time no Mitro, atualmente @rochacon, @rudaporto, @luizirber, @renatooliveira e @humrochagf tem acesso (e todos tem permissão para adicionar mais pessoas ou senhas).

Escrevi o issue mais pra comunicar, mas talvez seja interessante deixar ele aberto para quando for necessário adicionar mais pessoas ao time.

[2015-02-04 01:06] rochacon commented on #76
Boa!

Acho que podemos segurar a issue até quinta, que teremos uma reunião com mais pessoas. A partir dai fica mais fácil abrir novas issues conforme for necessário adicionar alguém.

[2015-02-10 11:06] ricobl opened #77 "Feed não relacionado a Python"
Foi incluído um feed no RSS do Planeta Python Brasil que contém muitos posts não relacionados a Python.

O autor é  Eduardo Willians Bandeira de Melo.

Acho que o ideal seria usar um RSS filtrado ou senão remover.

[2015-02-10 12:27] rudaporto commented on #77
Sim, eu descobri como filtrar o blogspot.com e os demais wordpress, vou ajustar isso!

[2015-02-10 14:40] filipecifali commented on #76
Alguém pode me adicionar lá? Mesmo e-mail do profile. Valeu!

[2015-02-10 15:29] ricobl commented on #77
Legal! Muito bom! Obrigado Rudá!

[2015-02-10 15:40] luizirber commented on #76
Feito, @filipecifali

[2015-02-10 16:13] filipecifali commented on #76
Preciso do registro.br de volta, o @rudaporto acabou me colocando as chaves lá e agora sumiu.

Valeu!

[ ]'s

[2015-02-10 17:00] filipecifali commented on #70
Djangobrasil.org ainda pendente de DNS, online: django.org.br

[2015-02-12 14:13] filipecifali commented on #76
Preciso da adição desta configuração para fazer ajustes no pythonbrasil.org.br.

[2015-02-13 12:31] filipecifali opened #78 "Restauração de zope"
Necessário alterar DNS na registro.br para testes do plone.org.br

Não estou conseguindo gerar o output e a instância está parando sem motivos quando inicio ela.

O diretório atual está em /home/plone/buildout

Fiz os ajustes (instalação de pacotes e configuração) para que o bootstrap.py e que o ./bin/buildout funcionasse, aparentemente a instalação está ok.

[2015-02-13 12:34] filipecifali opened #79 "Alteração de DNS de sites"
Servidores da Rackspace:
    dns1.stabletransit.com
    dns2.stabletransit.com

As zonas já configuradas:
    django.org.br
    djangobrasil.org
    pythonbrasil.org.br

Peço que se alguém puder, revise.

[2015-02-13 12:35] filipecifali opened #80 "Organizar espaço ocupado na rackspace"
Esta issue deve ser fechada somente após a restauração de todos os sites para podermos remover os diretórios /backup

[2015-02-13 12:49] filipecifali commented on #71
Progresso em #78

[2015-02-13 12:50] #71 closed

[2015-02-13 12:52] filipecifali commented on #49
O ideal é transformar o site depois do evento para conteúdo estático.

Como estamos com servidores novos, estou fechando esta issue.

[2015-02-13 12:52] #49 closed

[2015-02-14 09:26] filipecifali opened #81 "Redirecionamento django.org.br/documentacao para docs.djangobrasil.org"
http://django.org.br/documentacao/  ele redireciona para http://docs.djangobrasil.org

Não estava no template do projeto, necessário localizar onde está o link e apontar ao novo endereço.

[2015-02-16 18:04] filipecifali commented on #81
Subdomínio criado e apontado para o servidor, ainda necessário encontrar o endereço e fazer ele funcionar

[2015-02-16 18:06] filipecifali commented on #79
djangobrasil.org apontando para os DNS da rackspace.

[2015-02-19 23:06] humrochagf opened #82 "Integração deste repositório com Waffle.io"
Seria interessante integrar este repo com o https://waffle.io/

Desta forma fica mais fácil saber quais issues estão sendo trabalhadas e por quem, o que ajuda bastante na hora de procurar o que está precisando e atenção.

Para integrar basta que alguém com poder de commit neste repositório vá no site e crie uma kanban board para o repositório e adicione o indicador no README.md

[2015-02-20 00:36] decko commented on #82
:+1:

[2015-02-20 01:00] decko opened #83 "Issues sem label e sem encaminhamento"
Este repositório está concentrando as issues de pelo menos 4(ou mais) assuntos e/ou tópicos diferentes, entre eles:

* Django Brasil
* Plone Brasil
* Python Brasil
* Associação Python Brasil
* Infra comum a alguns destes projetos

Como já existem repositórios para pelo menos 3 dos itens citados acima, seria o caso de aplicar um label a cada assunto pertinente, dar encaminhamento à issues com ou se

[2015-02-20 03:19] humrochagf commented on #76
Adicionado @decko no time para ajudar com a manutenção da página da djangobrasil

[2015-02-20 17:42] #82 closed

[2015-02-20 19:31] decko commented on #81
@filipecifali, o endereço http://django.org.br/documentacao está apontando para o docs.djangobrasil.org. Podemos fechar esta issue?

[2015-02-20 19:53] filipecifali commented on #81
Acho incorreto fechar ela pois não está funcionando o docs.djangobrasil.org ainda.

Infelizmente fiquei sem tempo esta semana para continuar as tarefas.

[2015-02-20 20:32] gilsondev opened #84 "Iniciar documentação do projeto de Associados"
Iniciar a documentação do projeto, como também da arquitetura, módulos e configuração do ambiente, do sistema de regularização de associados do APyBR

[2015-02-20 21:13] decko commented on #81
@filipecifali Entendi. Pelo q eu pude ver é algo nas regras de VirtualHost do apache. A primeira regra é demasiadamente abrangente, logo, qualquer chamada para subdominios é atendida logo no inicio. Como vc abriu a issue, achei melhor não mexer nos arquivos, mas se precisar estamos às ordens.

[2015-02-21 10:54] decko commented on #40
@humrochagf @taniaa e @rudaporto o problema foi resolvido? Podemos fechar esta issue?

[2015-02-21 10:55] decko commented on #76
:+1:

[2015-02-21 16:31] #83 closed

[2015-02-23 14:39] taniaa commented on #40
O servidor foi desligado. Creio que sim

[2015-02-23 14:39] #40 closed

[2015-02-23 18:51] decko commented on #40
:+1:

[2015-05-19 22:34] nicholasamorim opened #85 "Novo Blog"
Olá, poderia adicionar esse blog ?

http://blog.alienretro.com/category/python-2/feed

E a bem da organização, existe um antigo blog meu no planet chamado Lambda Space que não funciona mais, caso queira remover..

Obrigado desde já.

[2015-05-21 13:24] filipecifali commented on #81
@decko Você pode fazer essa config? Pode mexer sim, basta testar as URLs depois de mexer para garantir que elas estão funcionando.

[2015-05-28 21:14] mazulo commented on #81
Iae galera, beleza? Então, há um tempo quando foi lançado no Twitter o novo site http://docs.djangobrasil.org/, o qual cobriria a versão 1.6 do Django, eu reportei o erro que originou esta issue. Alguém saberia informar se já foi consertado?

Edit: Fui acessar também a primeira [parte do tutorial](http://docs.djangobrasil.org/intro/tutorial01.html) e notei que não, bem como a presença do `DEBUG =

[2015-06-03 17:34] filipecifali commented on #76
@renatooliveira adicionado

[2015-06-03 17:34] filipecifali commented on #76
@renatooliveira me enviou os dados e adicionei aos segredos do time o ID da Registro.BR

[2015-06-05 17:09] diegorocha commented on #46
Essa issue ainda é válida?! Consultei o https://registro.br/cgi-bin/whois/ e o registro atualmente está vinculado a "Last One Tecnologia LTDA"

[2015-06-09 01:53] taniaa commented on #46
Acredito que não faça mais sentido. Certo, @rochacbruno?

[2015-06-09 02:00] rochacbruno commented on #46
@taniaa acho que não, e de qualquer forma agora daria mais trabalho para requerer o dominio.

[2015-06-10 20:35] taniaa commented on #46
Então, ticket cancelado...

[2015-06-10 20:35] #46 closed

[2015-06-11 16:28] gilsondev commented on #84
Apesar da demora, iniciei a documentação. Vou colocar uma visão geral da arquitetura e configuração do ambiente. Vou focar mais nos módulos desenvolvidos.

[2015-06-11 16:29] gilsondev commented on #54
Essa issue ainda precisa ser aberta?

[2015-06-11 16:30] gilsondev commented on #8
Alguma novidade disso? Conseguiu resolver?

[2015-06-11 16:32] gilsondev commented on #81
Sobre atualização do djangobrasil, não seria interessante "forkar" o site do djangoproject, e adaptarmos para o Brasil?

Segue o repositório: https://github.com/django/djangoproject.com

[2015-06-11 17:25] filipecifali commented on #70
djangobrasil.org ok

[2015-06-11 17:37] filipecifali commented on #81
Seria, principalmente usar um serviço de tradução ou algo assim e sugerirmos que o projeto principal use ele também.

É muito complicado fazer isso? Por mim é tranquilo deixar uma app, já é uma app django rodando para o portal, mas acho que seria mais interessante deixarmos um conteúdo estático porque o portal em si somente tem iterações de feed de notícias, não necessariamente necessitando da app

[2015-06-11 17:40] filipecifali commented on #79
pythonbrasil.org.br movida!

[2015-06-11 18:39] gilsondev commented on #81
@filipecifali  acha melhor mudar o site para usar o Pelican mesmo?

[2015-06-11 19:37] filipecifali commented on #81
Acho que a melhor solução é pensarmos em algo que fique fácil para modificarmos num dia que precisarmos.

O @cadu-leite já está trabalhando com Markdown (se não me engano) no site da PythonBrasil 2015, então como o Pelican trabalha com Markdown também é uma boa solução atualmente, pois poderemos inclusive deixar os futuros "legados" em Markdown também usando ele.

Meu voto é para usar o Pelican po

[2015-06-11 20:07] gilsondev commented on #81
Se o objetivo é tornar mais acessível a manutenção, backup e criação de novos conteúdos, o Pelican é uma boa escolha mesmo.

[2015-06-11 20:21] taniaa commented on #8
Não resolveu. Tem que ver com alguém no YouTube. Ainda acho necessário.

[2015-06-12 01:57] gilsondev commented on #8
Sabe de alguém que pode nos ajudar?

[2015-06-12 13:13] taniaa commented on #8
É correr atrás de alguém influente, acho. Pode ir atrás pelas vias formais, se não der certo procurar alguém com cacique lá dentro... IMHO.

[2015-06-12 13:38] diegorocha commented on #8
+1

[2015-06-12 14:38] diegorocha commented on #81
Pelican (ou qualquer outro gerador de HTML a partir de markdown/reStructuredText a escolha) +1

[2015-06-12 19:26] rochacbruno commented on #79
o http://python.org.br/planet/ está redirecionando para o site do evento. Está relacionado com essa issue?

[2015-06-15 14:05] filipecifali commented on #79
Não diretamente e sim a primeira mudança para a Rackspace, preciso revisar os arquivos do nginx de rewrite pois deveria estar acessível dessa forma.

Atualmente funciona através de wiki.python.org.br: http://wiki.python.org.br/planet/

[2015-06-22 12:12] ricobl commented on #77
Olá, os posts voltaram a aparecer.

[2015-06-22 12:36] gilsondev commented on #77
Mas filtrar blogspot e wordpress somente, não prejudica aqueles que escrevem posts relacionados a Python, nessas plataformas?

[2015-06-22 12:49] ricobl commented on #77
Estou falando deste blog em específico, o "galacia" do "Eduardo Willians Bandeira de Melo".

Aqui a postagem mais recente que neste momento está como primeira no feed:
http://galacia.blogspot.com/2015/06/consideracoes-sobre-revelacao-do-eu-sou.html

Em geral as plataformas de blogs disponibilizam feeds filtrados por labels ou categorias.

O Blogspot permite o filtro por label usando, para este blo

[2015-06-22 13:10] gilsondev commented on #77
Ah sim, então beleza ;)

[2015-06-25 17:14] filipecifali commented on #79
@rochacbruno Pode testar agora? Aqui para mim ja está funcionando e faz o auto-redirect para o link que te enviei acima ;)

[2015-06-25 17:15] filipecifali commented on #79
Zonas migradas hoje:

python.org.br
pythonbrasil.com.br

[2015-06-25 18:06] gilsondev commented on #79
Aqui redirecionou corretamente.

[2015-06-25 18:06] gilsondev commented on #79
Opa, só o pythonbrasil.com.br que não.

[2015-06-25 18:18] filipecifali commented on #79
Adicionados mapeamentos do .com.br no virtualhost do .org.br, agora está funcionando o redirecionamento Gilson

[2015-06-25 18:23] gilsondev commented on #79
O .com.br deu como host não resolvido. Ai funcionou?

[2015-06-25 18:24] filipecifali commented on #79
Sim, cache talvez?

[2015-06-25 18:25] gilsondev commented on #79
Pode ser.

[2015-07-11 19:57] taniaa commented on #78
No ar! Com a ajudazona do grande Rudá! \o/
http://plone.python.org.br:8045/fundacao

[2015-07-11 19:57] #78 closed

[2015-07-11 20:03] taniaa commented on #71
Site da PythonBrasil[9] / PloneConf 2013 no ar! Com a ajudazona do grande Rudá! \o/
- PythonBrasil[9](OLD) - http://plone.python.org.br:8045/pythonbrasil2013
- PythonBrasil[9](ATUALIZADA) - pythonbrasil - http://plone.python.org.br:8080/Plone/ploneconf
- PythonBrasil[9](ATUALIZADA) - ploneconf - http://plone.python.org.br:8080/Plone/pythonbrasil

[2015-07-11 20:33] taniaa commented on #85
@humrochagf consegue ver no host do wiki?

[2015-07-11 21:32] taniaa opened #86 "Corrigir problema de conexão com banco de dados no site das confs anteriores"
- PythonBrasil (da 1 a 6) - http://plone.python.org.br:8120/pycon

[2015-07-11 21:33] taniaa commented on #70
Oi, @filipecifali no sprint de hoje conseguimos colocar os sites no ar:
- PythonBrasil[7] - http://plone.python.org.br:8045/pythonbrasil
- Associação Python Brasil - http://plone.python.org.br:8045/fundacao
- PythonBrasil[9] OLD - http://plone.python.org.br:8045/pythonbrasil2013
- PythonBrasil[9] ATUALIZADA - pythonbrasil - http://plone.python.org.br:8080/Plone/pythonbrasil
- PloneConf 2013 ATUALI

[2015-07-11 22:02] taniaa opened #87 "Subir site da PythonBrasil[8]"
Archive: https://web.archive.org/web/20121213052331/http://2012.pythonbrasil.org.br/
https://github.com/pythonbrasil/pythonbrasil8

[2015-07-13 14:23] filipecifali commented on #70
@taniaa

Acredito já podermos fechar ela e criar uma nova para consolidação dos recursos. Obrigado :)

[2015-07-13 14:23] #70 closed

[2015-07-13 14:34] humrochagf commented on #85
@nicholasamorim @taniaa, atualizei lá

[2015-07-13 14:34] #85 closed, assigned to nobody

[2015-07-13 14:38] humrochagf commented on #76
precisamos te uma nova forma de compartilhar essas chaves
https://www.mitro.co/shutdown.html

[2015-07-13 18:58] taniaa commented on #70
Isso @filipecifali! Estou abrindo umas menores, tipo backup dos ambientes que funcionam, etc.

[2015-07-14 03:01] taniaa opened #88 "Fazer backup dos ambientes novos"
Relacionado com: https://github.com/pythonbrasil/apyb.gerenciamento/issues/70

[2015-07-14 13:00] renatooliveira opened #89 "Subir vídeos da Python Brasil[8] para o Youtube"
Pessoal, estou com os DVDs da Python Brasil que a Tati me entregou há um tempo. O problema é que não tenho como ripa-los para subir no youtube? Alguém pode fazer isso? Envio pelos correios

[2015-07-15 12:43] rafaelgotts commented on #89
É só converter e enviar pro youtube? Isso eu posso fazer! :smiley:

[2015-07-15 13:48] rochacbruno commented on #89
@renatooliveira acho que seria bom você fazer uma cópia dos DVDs e enviar para pelo menos 2 pessoas. Assim teriamos o trabalho paralelizado e 2 backups dos videos.

Me candidato a ser uma dessas pessoas.

[2015-07-16 00:20] humrochagf commented on #8
não consegui renomear para pegar a url, o que tem como é só trocar o nome no título.
a outra alternativa é criar um canal pythonbrasil e mover os vídeos pra ela se quiser a url aí fica pra decidir o que é melhor:
1. Trocar o título
2. Criar canal e mover os vídeos

[2015-07-16 12:39] taniaa commented on #8
Faz mais sentido criar canal e mover os vídeos.

Mas quão trabalhoso isso seria? É tipo selecionar todos e mover ou um a um? Será que perde as visualizações?

Abraço!

[2015-07-16 13:11] humrochagf commented on #8
Este é o problema, como o google não oferece essa feature, tem que baixar e subir denovo no outro canal

[2015-07-16 16:25] ramiroluz commented on #8
Seguinte, eu me confundi e subi alguns vídeos para pythonbrasil, outros
para pythonbrazil.

Devo apagar os vídeos de qual canal? z ou s?

2015-07-16 10:11 GMT-03:00 Humberto Rocha notifications@github.com:

##

##

-- Ramiro Batista da Luz
-- (41) 9173-2231
-- http://www.ramiroluz.eti.br

[2015-07-18 16:44] gilsondev opened #90 "Renomear vídeos do canal pythonbrazil"
Os últimos vídeos enviados para o canal, estão com titulos do tipo:

 - 0005
 - 0006

Quem puder, favor renomear os vídeos: https://www.youtube.com/user/pythonbrazil

[2015-07-21 15:32] diegorocha opened #91 "Wiki - Erro no "Esqueci senha""
A recuperação de senha da wiki http://wiki.python.org.br/?action=recoverpass não está funcionando pois há um erro na conexão com o SMTP:

[2015-07-21 15:59] diegorocha opened #92 "DNS - Redirecionar para grupos locais"
Surgiu num e-mail do grupo Python-Brasil https://groups.google.com/forum/#!topic/python-brasil/A2dPdkV42so a idéia de criar um redirecionamento no dns da associação para que http://UF.pythonbrasil.org.br redirecione para o site/wiki/fórum do grupo de usuários local.

Foi respondido na thread que tal redirecionamento já existiu, mas imagino que se perdeu durante a migração de provedor.

[2015-07-21 20:33] humrochagf commented on #91
@diegorocha arrumei lá, vê se está rolando para vc de recuperar a senha

[2015-07-21 21:59] diegorocha commented on #91
Funcionou sim!

[2015-07-21 22:00] #91 closed, assigned to nobody

[2015-07-22 15:26] smateusjr opened #93 "Adição no planeta"
Prezados boa noite,

Meu nome é Sérgio Mateus, trabalho com tecnologia há mais de 10 anos e
tenho a pretensão de ir me mudar do Brasil para o Canadá em no máximo 5
anos, em uma palestra para imigrantes foi me informado de que precisaria de
"mostrar serviço", como um GITHUB ou um portifólio online, então resolvi
abrir um Blog com alguns projetos pessoais e informações do meu trabalho,
como acompanh

[2015-07-30 15:16] taniaa opened #94 "Corrigir dependência do site PythonBrasil[9]/PloneConf 2013"
Este erro deu ao tentar gerar o certificado.

Traceback (innermost last):

[code]

ImportError: The _imagingft C module is not installed

[2015-07-30 20:43] gilsondev commented on #94
Precisa compiilar o PIL habilitando o uso da biblioteca `libfreetype`

[2015-08-11 17:54] filipecifali opened #95 "Correção de link - wiki.python.org.br/planet"
http://wiki.python.org.br/planet/

Header aponta para 2014 - pythonbrasil 10

[2015-08-11 17:56] filipecifali commented on #76
Pessoal o mitro acabará em breve, façam o backup dos dados. Caso encontrem alguma ferramenta de compartilhamento de senhas, reabram esta issue.

[2015-08-11 17:56] #76 closed

[2015-08-11 18:24] filipecifali commented on #94
Tania, instalei a libfreetype6 e a -dev dela e reinstalei a Pillow, pode efetuar um teste de novo? \* Não sei se seria necessário reiniciar a instância, caso sim, posso fazer isso também *

[2015-08-11 18:38] filipecifali commented on #92
Você tem alguma idéia de como isso funcionava?

Não encontrei configurações deste subdomínio nos HTTPDs / nGinxs

[2015-08-11 18:40] filipecifali commented on #89
@renatooliveira Fechou com o @rafaelgotts e com o @rochacbruno ?

[2015-08-11 18:42] taniaa commented on #94
Obrigada @filipecifali, mas continua com erro. Pode reiniciar a instância. Te enviei o link em PVT para teste, porque é o link que gera o certificado de um participante específico.

[2015-08-11 18:46] diegorocha commented on #92
@filipecifali você já está tocando isso conforme uma thread na lista da ApyB.

Acho que o padrão que você sugeriu é muito bom e atende os casos de um grupo só por estado, com ou sem grupo de cidades ou regiões.

http://[cidade/regiao.]uf.python.org.br

Acho que essa issue em específico pode ser fechada, já que a questão está andando. Não faz sentido deixar ela aberta até que todos os grupos locais

[2015-08-11 18:46] #92 closed, assigned to nobody

[2015-08-11 18:49] luzfcb commented on #92
Falta documentar isso (`http://[cidade/regiao.]uf.python.org.br`), deixar essa informação em um lugar publico e acessível e fazer marketing, incluindo os procedimentos necessários que cada grupo quiser utilizar o subdominio tem que fazer.

[2015-08-11 18:56] filipecifali commented on #86
Acredito que já tenha sido corrigido, os sites estão acessíveis pelo que testei (de 2010 até 2005)

[2015-08-11 18:57] diegorocha commented on #92
Verdade @luzfcb existe hoje algum lugar oficial da associação para documentar esse tipo de coisa?
O site da associação seria o melhor lugar para esse marketing, com uma página explicando.

Que eu saiba atualmente a forma de gerar demandas é abrindo um ticket aqui, então a página precisaria colocar um link para esse repositório e dizer quais informações devem ser informadas na hora de abrir uma iss

[2015-08-11 19:37] filipecifali commented on #70
Associacao.python.org.br - Configurei o DNS para apontar para o servidor plone.apybr e modifiquei a configuração do Apache para a nova porta para deixar o acesso normal pela URL antiga :+1:

[2015-08-11 20:41] taniaa opened #96 "Documentar o passo a passo de inclusão de URL no Planet"

[2015-08-11 21:07] diegorocha opened #97 "Atualizar o estatuto no site da associação"
É necessário atualizar o estatuto presente no site  http://associacao.python.org.br/fundacao/associacao/estatuto
 para o novo estatuto após as alterações aprovadas em https://github.com/pythonbrasil/estatuto/blob/master/assembleia-2013/ata-008-draft.md

Acredito que o melhor seria que essa página tivesse um link para o markdown do estatuto no github https://github.com/pythonbrasil/estatuto/blob/ma

[2015-08-11 21:54] taniaa commented on #96
Adicionei o procedimento aqui, conforme passo a passo que o @humrochagf me enviou:
http://plone.python.org.br:8045/fundacao/workarea/procedimentos-web/gestao-do-wiki/como-incluir-uma-nova-url-no-planet

Porém, para ajudar quem está chegando e não depender de 2 ou 3 pessoas, acho melhor adicionar do comando para login no servidor à detalhar o comando no moin...

@rudaporto @osantana @humrochagf @fi

[2015-08-12 02:17] taniaa commented on #93
Feito com feed: http://www.sergiomateus.ca/feeds/

[2015-08-12 02:17] #93 closed, assigned to nobody

[2015-08-12 02:40] taniaa commented on #96
Tudo devidamente documentado com a ajuda do @humrochagf, na mesma URL.

[2015-08-12 02:40] #96 closed, assigned to nobody

[2015-08-12 03:03] taniaa commented on #95
Corrigido.

[2015-08-12 09:09] lskbr commented on #95
Abri hoje e continua apontando para PythonBrasil 10

[2015-08-12 09:18] lskbr opened #98 "Atualizar o site de associados"
- Atualizar Django para 1.8
- Adicionar página de estatísticas
- Adicionar marcador para membros plenos
- Adicionar filtro para exibir a diretoria

[2015-08-12 12:50] taniaa commented on #95
Deve ser cache na sua máquina. Segue print.
![captura de tela 2015-08-12 as 09 50 20](https://cloud.githubusercontent.com/assets/1102067/9224291/a010fa50-40d7-11e5-8171-b9105f9fce75.png)

[2015-08-12 13:15] taniaa commented on #95
De fato. Eu estava vendo wiki.python.org.br/ e vocês vendo wiki.python.org.br/planet. Então mudei o título do ticket para /planet e vou tentar resolver no servidor...

[2015-08-12 13:29] taniaa commented on #95
Trocado http://wiki.python.org.br/planet/, veja o print
![captura de tela 2015-08-12 as 10 28 50](https://cloud.githubusercontent.com/assets/1102067/9224998/fac6431a-40dc-11e5-88a4-fb32d649d50d.png)

Como não tenho um logo pybr_logo_pt-br.png com dimensões de 507×66 pixels e não encontrei um logo nos padrões no site do evento deste ano, coloquei textual mesmo o link para a PythonBrasil[11].

@cadu

[2015-08-12 13:29] #95 closed, assigned to nobody

[2015-08-12 13:34] rochacbruno opened #99 "Alteração de feed no planet"
Olá, gostaria de solicitar a alteração do meu link no planet
de: http://feeds.feedburner.com/rochacbruno

**para**: http://brunorocha.org/tag/pyplanet.atom

(duvida: seria legal ter um repositório com o código do planet igual fazemos com o planet.python.org? https://github.com/python/planet )

[2015-08-12 14:50] filipecifali commented on #99
Seria, o Humberto já tinha me perguntado sobre uma forma melhor de dar manutenção no planet.python.org.br, no gtalk ele me mandou:

"poise, da forma que está não tá muito legal pq isso é um pedido recorrente, btf que vou colocar uma git hook lá e botar a lista de feed num repo da APyB pra galera poder atualizar com pull request"

Isso é bem bacana, seria muito mais prático para qualquer um atualiz

[2015-08-12 17:22] lskbr commented on #35
Acho que esquecemos de fechar esta issue de 2013 :-D

[2015-08-12 17:22] #35 closed

[2015-08-12 17:27] taniaa commented on #95
E procedimento documentado no site da APyB:

http://plone.python.org.br:8045/fundacao/workarea/procedimentos-web/gestao-do-wiki/como-mudar-a-chamada-para-a-conferencia-anual-no-topo-da-pagina-do-planet

[2015-08-12 17:27] lskbr opened #100 "Verificação da Macro RSS do planet utilizada na Wiki"
Depois de investigar o problema de lentidão da Wiki, verifiquei dois problemas:
1. Erro de permissão no cache de páginas (resolvido)
2. Lentidão na página principal.
A origem da lentidão é:
   `<<RSSReader(Planeta PythonBrasil,http://wiki.python.org.br/planet/atom.xml,allow_html,5)>>`
Que eleva o tempo de execução da página de 0.01s para 13s.

Como alternativa até a solução final, eu retirei esta

[2015-08-12 17:40] taniaa opened #101 "Adicionar outros eleitos da diretoria atual, eleita em 2013 e 2014"
Página que tem a diretoria atual: http://plone.python.org.br:8045/fundacao/associacao/organizacao/diretoria
Página que precisa informar conselhos e suplentes:
http://plone.python.org.br:8045/fundacao/associacao/organizacao/conselho-deliberativo
http://plone.python.org.br:8045/fundacao/associacao/organizacao/conselho-fiscal

[2015-08-12 17:47] taniaa opened #102 "Publicar extratos do Banco do Brasil"
Meses que ainda estão pendentes:
- 2013 - novembro e dezembro
- 2014 - TODOS
- 2015 - de janeiro a julho

Local de publicação: http://plone.python.org.br:8045/fundacao/associacao/financeiro

[2015-08-12 17:59] lskbr commented on #100
Atualizei o código da macro. Versão anterior no diretório backup: /home/apyb/pythonwiki/share/moin/data/plugin/macro/backup

Nova versão pode ser usada com:
`<<RSSReader(feed="http://wiki.python.org.br/planet/atom.xml", maxEntries=5, allowHtml=False,includeStyle=False)>>`

Mas ainda está muito lento.

[2015-08-12 18:08] taniaa opened #103 "Publicar última ata da Assembleia Geral (No 009 de 2014)"
Local para publicação: http://plone.python.org.br:8045/fundacao/associacao/registro/atas

[2015-08-12 18:10] taniaa commented on #103
@marcelcaraciolo @renatooliveira @filipeximenes esta ata já foi registrada em Cartório?
Tem que digitalizar e subir para o site da APYB.

Pesquisando no Google, tem isso no repositório GitHub:
https://github.com/pythonbrasil/estatuto/blob/master/assembleia-2014/ata-009-draft.md

A apresentação de 2014 é um arquivo do Keynote...

[2015-08-12 18:30] lskbr commented on #99
Felipe,

Seria legal também fazer uma limpeza no Planet. Hoje mesmo tem oração,
coisa de lua e outros bichos no feed.
Eu lembro que só seriam incluídos os posts com uma tag específica, mas acho
que isto não esta funcionando.

A macro que incluia os 5 últimos posts na Wiki estava matando o servidor.
Se precisar acessar o planet, até resovermos o problema, favor acessar:
http://wiki.python.org.br/pl

[2015-08-12 18:33] lskbr commented on #99
Coloquei um link em seções interessantes da Wiki para o planet como
quebra-galho :-D

2015-08-12 20:30 GMT+02:00 Nilo Menezes nilo.menezes@gmail.com:

[2015-08-12 18:42] taniaa opened #104 "Publicar conselho deliberativo de 2010, 2011 e 2012"
Local: http://plone.python.org.br:8045/fundacao/associacao/organizacao/conselho-deliberativo

[2015-08-12 19:07] rochacbruno commented on #99
Lelgal :+1:  e a alteração do feed quem faz? e como?

[2015-08-12 20:46] humrochagf commented on #99
Então como os feeds vem de um arquivo de texto seria uma boa colocar esse arquivo em um repositório e atualizar via PullRequest, ai coloca um travisCI pra toda vez que um PR for aceito ele rodar o script de refresh do planet no servidor

[2015-08-12 21:44] erichideki commented on #100
Muito bacana Nilo. Obrigado.

[2015-08-13 00:20] filipeximenes commented on #103
Não tenho esta informação @taniaa.

[2015-08-13 07:34] lskbr commented on #99
Feed alterado.

[2015-08-13 07:34] #99 closed, assigned to nobody

[2015-08-13 08:25] lskbr commented on #77
Removido.

[2015-08-13 08:25] #77 closed

[2015-08-13 09:41] lskbr commented on #87
Oi Tânia,

Converti o site em versão estática. Alguns botões eu desabilitei, outros são bloqueados por pura falta de login. Mas acho que a ideia era dar a experiência do site original certo?
A vantagem da versão estática é que ele poupa recursos em nossa instância e já está pronta para a próxima migração :-D

Favor dar uma olhada, se tudo ok, feche a issue que eu limpo alguns arquivos de trabalho

[2015-08-13 09:58] lskbr commented on #100
Atualizei o feedparser de 5.1.3 para 5.2.1. Melhorou bastante, mas não o suficiente para voltar a página principal. Alguns posts do planet incluem até as fotos no ATOM. Apesar de ter apenas 3MB, a wiki sofre para fazer o parse.

[2015-08-13 09:58] #100 closed, assigned to nobody

[2015-08-13 12:06] lskbr commented on #96
Tânia, como faço para acessar essa página? Eu não tenho conta no plone.
Hoje eu deu uma limpada no planet e olhei bastante coisa por lá.

[2015-08-13 13:10] taniaa opened #105 "Convocar assembleia geral"
Geralmente ocorre ao final do primeiro dia de evento

[2015-08-13 15:51] jcemelanda opened #106 "Acrescentar Programe em Python ao planet"
Tenho um blog onde escrevo sobre Python desde 2010, seria interessante ter ele nos feeds do planet

http://www.programeempython.com.br/blog/feeds/rss/

[2015-08-13 15:55] lskbr commented on #106
No ar!

[2015-08-13 15:55] #106 closed, assigned to lskbr

[2015-08-13 16:33] ricobl commented on #77
Show! Obrigado @lskbr!

[2015-08-13 20:47] lskbr commented on #87
Vou fechar. Se achares algum problema é só abrir de novo.

[2015-08-13 20:47] #87 closed, assigned to lskbr

[2015-08-13 22:38] taniaa commented on #87
Oi, @lskbr !

Desculpa não dar retorno. Gostei de ter tornado estático!

As pessoas corretas para validar seriam os kahunas @turicas e Tatiana.
Ou mesmo @pythonbrasil/organizacao-pythonbrasil-8.

Vou dar uma olhada assim que possível, mas não tenho muita propriedade para falar :/

[2015-08-13 22:52] taniaa commented on #96
Te mandei por e-mail, por ter conta no server já.

O passo a passo está privado porque ter dados do servidor...

[2015-08-14 00:33] taniaa commented on #86
Ainda está com problema. Se alguém acessa algo que precisa de conexão com o banco de dados relacional o site buga...
![captura de tela 2015-08-13 as 21 32 41](https://cloud.githubusercontent.com/assets/1102067/9264948/e5c8f206-4202-11e5-8907-72d93317e51b.png)

[2015-08-14 01:15] taniaa opened #107 "Redirecionar para os domínios amigáveis de antes"
Colocamos todos os sites do servidor com os Plone sites no ar, mas ainda estão com as URLs provisórias. Falta redirecionar para as URLs corretas:

**PythonBrasil[7]**
De:
    http://plone.python.org.br:8045/pythonbrasil
Para:
    http://2011.pythonbrasil.org.br/
**PS: Hoje está redirecionando para http://2014.pythonbrasil.org.br/**

**PythonBrasil[9] OLD**
Nada a fazer por hora:
    http://plone.p

[2015-08-14 01:24] taniaa commented on #86
Testando uma conf específica, de 2010 por exemplo, tb dá erro:
![captura de tela 2015-08-13 as 22 22 12](https://cloud.githubusercontent.com/assets/1102067/9265478/20733fb8-420a-11e5-9ebc-f209aae29152.png)

[2015-08-14 15:58] filipecifali commented on #107
DNSs alterados
http://2011.pythonbrasil.org.br funcionando
http://2013.pythonbrasil.org.br/pythonbrasil funcionando (precisei ajustar o vhost do Apache para funcionar)

http://2013.pythonbrasil.org.br/ploneconf não funcionando (o acesso http://plone.python.org.br:8080/Plone/ploneconf gera erro já)

[2015-08-14 19:12] gileno opened #108 "Adicionar meu blog ao planet (http://gilenofilho.com.br/tag/python/rss/)"
Link com filtro para apenas conteúdo sobre python:

http://gilenofilho.com.br/tag/python/rss/

[2015-08-14 20:37] taniaa commented on #107
Praticamente tudo resolvido!

Só este que tem que cair no site da conferência correto... Ele está caindo na conf de 2014:

PythonBrasil[7]
De:
http://plone.python.org.br:8045/pythonbrasil
Para:
http://2011.pythonbrasil.org.br/

[2015-08-15 09:14] lskbr commented on #108
Feito

[2015-08-15 09:14] #108 closed, assigned to nobody

[2015-08-15 09:45] alexdesiqueira opened #109 "Inclusão do blog Programando Ciência no Planet"
Peço a inclusão do Programando Ciência no Planeta PythonBrasil, blog que fala sobre programação e computação científica com Python e outras ferramentas de programação livres.
O endereço: http://programandociencia.com/tag/python/feed/
Agradeço.

[2015-08-15 10:32] lskbr commented on #109
No ar.

[2015-08-15 10:32] #109 closed, assigned to nobody

[2015-08-18 19:31] taniaa commented on #102
Publiquei os que eu tinha por ter acompanhado os pagamentos da conf de 2013:
extrato_apyb_03_2014.pdf
extrato_apyb_01_2014.pdf
extrato_apyb_12_2013.pdf
extrato_apyb_11_2013.pdf

@marcelcaraciolo @renatooliveira @filipeximenes podem pedir para o financeiro da APyB me enviar os demais para eu ajudar com a publicação?

[2015-08-18 19:45] filipeximenes commented on #102
Vou te encaminhar @taniaa

[2015-08-18 21:06] taniaa commented on #102
Obrigada, @filipeximenes !

Publiquei os que me enviou:
- extrato_apyb_01_2015.pdf
- extrato_apyb_03_2015.pdf
- extrato_apyb_04_2015.pdf
- extrato_apyb_05_2015.pdf
- extrato_apyb_06_2015.pdf
- extrato_apyb_07_2015.pdf

PS: o de Fevereiro/2015 era o de Março...

Logo, concluí 2013 e 2015! \o/

Faltam os seguintes meses ainda:
- 2014 - Fevereiro
- 2014 - Abril a Dezembro
- 2015 - tem que manter...

[2015-08-19 04:07] taniaa opened #110 "Editar links de www para 2011 para não cair no site atual"
Mudar URLs que direcionam para www neste site:

http://2011.pythonbrasil.org.br

[2015-08-19 13:10] filipeximenes commented on #102
@taniaa mandei por email todos de 2014 e fevereiro de 2015.

[2015-08-19 19:05] gilsondev commented on #98
Também definir a issue #97 nas melhorias.

[2015-08-20 13:30] taniaa commented on #102
Terminei de publicar os que enviou por último.

Tudo em dia! Agora é manter ;)

Obrigada, @filipeximenes !!

[2015-08-20 13:30] #102 closed, assigned to nobody

[2015-08-23 03:28] taniaa commented on #110
Concluído.

As duas áreas do site que estão com erro AttributeError: getLocallyAllowedTypes  eu privei e tirei da navegação:
- Inscrições - http://2011.pythonbrasil.org.br/2011/inscricoes/folder_contents
- Localização -  2011.pythonbrasil.org.br/2011/local-do-evento/

[2015-08-23 03:28] #110 closed, assigned to taniaa

[2015-08-23 03:31] taniaa commented on #105
Lembrar de resolver a ata anterior, senão acho que terão problemas...
https://github.com/pythonbrasil/apyb.gerenciamento/issues/103

@marcelcaraciolo @filipeximenes @renatooliveira @cadu-leite

[2015-08-23 03:36] taniaa commented on #98
Muito legal estas features!

Lembro de ter comentado que o primeiro já resolveu:
- Atualizar Django para 1.8

Como estão as demais tarefas? O @gilsondev comentou que queria ajudar com o sistema. Consegue validar o que ele trabalhou?
https://github.com/pythonbrasil/associados/pull/118

[2015-08-23 03:50] taniaa commented on #87
Acho que é isso aí!

Depois vale a pena abrir issue no projeto deste site para desabilitar pagamento de inscrição e outros detalhes de um site de evento que serve apenas como histórico...

Parabéns @lskbr !

[2015-08-23 03:57] taniaa commented on #56
@filipecifali @renatooliveira como está isso no novo servidor? Ainda precisa dessa issue?

[2015-08-23 03:59] taniaa commented on #9
Na verdade, com a descontinuação dos serviços no servidor anterior no final do ano passado, ainda será preciso subir este site aqui tb...

Não consigo identificá-lo no backup do novo servidor para tentar subir.

@rudaporto me ajuda? São muito nomes parecidos...

[2015-08-23 15:29] lskbr commented on #87
Oi Tania,

Acho que as paginas de pagamento estão com os botões desabilitados ou dão
erro 405.
Melhor coisa 'e  abrir issue mesmo, como as páginas são estáticas, podemos
corrigir um a um.

[]

Nilo

2015-08-23 5:51 GMT+02:00 Tânia Andrea notifications@github.com:

[2015-08-23 21:08] gilsondev commented on #98
A próxima issue pode ser a atualização do django.

[2015-08-24 03:56] taniaa commented on #98
Não entendi @gilsondev

[2015-08-24 14:09] gilsondev commented on #98
Desculpe, eu pretendo atualizar o associados para o django 1.8.

[2015-08-24 15:39] lskbr commented on #98
Gilson, a migração para o Django 1.8 já está feita.

[2015-08-24 15:40] lskbr commented on #98
Eu estou trabalhando neste issue, se você quiser, eu posso parar e você continua.

[2015-08-24 15:42] lskbr commented on #98
Desculpa, repondi rápido demais. Eu me atribui este issue e gostaria de continuar nele.

[2015-08-24 15:59] gilsondev commented on #98
Não precisa @lskbr. Mas no que precisa, estamos ai :)

[2015-08-24 16:21] lskbr commented on #98
Beleza Gilson, eu vou precisar de uma força para fazer o deploy no heroku, mas se for o caso, eu abro outro issue! Valeu.

[2015-08-24 16:39] gilsondev commented on #98
:+1:

[2015-08-30 17:29] lskbr commented on #98
Um update. Acabei de atualizar tudo para o Django 1.8.4.
Todos os testes estão passando.

Criei um branch django1.8 com a versão de hoje. A versão atual está incompleta. Estou falando com o Carlos sobre a integração do django municípios (permite usar 2 selects com estados e municípios do Brasil). Já aparece, mas não grava.

Eu melhorei o tempo de carga da listagem de membros. Agora eu faço cache d

[2015-08-31 12:46] gilsondev commented on #98
Massa ;)

[2015-08-31 16:52] diegorocha commented on #107
O site desse ano não possui http://2015.pythonbrasil.org.br/ apenas http://pythonbrasil.org.br/ que redireciona para http://pythonbrasil.github.io/pythonbrasil11-site/

Não seria o caso de fazer o subdominio 2015 apontar (ou redirecionar) para o site certo também?

[2015-09-17 06:09] taniaa commented on #107
Testei todos indicados. Os apontamentos de 2011, 2013 E 2015 estão funcionando.

[2015-09-17 06:09] #107 closed, assigned to nobody

[2015-09-24 12:46] filipeximenes commented on #103
@taniaa já localizamos a ata. Marcel falou que iria digitalizar e nos mandar. Se isto não acontecer, vamos tentar recuperar os documentos e seguimos com a publicação.

[2015-09-24 15:15] taniaa commented on #103
Legal!

[2015-10-13 01:30] paulohrpinheiro opened #111 "Artigos sobre python"
Por favor, poderiam adicionar meu blog ao Planeta Python Brasil?

O endereço é http://www.sysincloud.it/tag/python/

Obrigado.

[2015-10-21 17:53] filipeximenes commented on #105
Feito!

**importante:** de acordo com o capítulo VIII, artigo 35, a convocação deveria ser feita com 30 dias de antecedência, por isso vamos precisar votar para que a assembléia prossiga apesar do descumprimento deste artigo.

[2015-10-21 17:53] #105 closed, assigned to nobody

[2015-10-21 18:00] filipeximenes opened #112 "Publicação da convocação da assembléia 2015 no plone"
# Convocação para a Assembléia Geral da APyB 2015

Assembléia Geral da Associação Python Brasil onde serão realizadas eleições para a Diretoria da Associação bem como a renovação dos Conselhos Deliberativo e Fiscal.
## A Associação Python Brasil (APyB)

A Associação Python Brasil (APyB) tem como meta apoiar as comunidades relacionadas à linguagem Python e suas tecnologias derivadas em todo Brasil.

[2015-10-23 03:02] taniaa commented on #112
Publicado, com pequenos ajustes no texto, como Assembleia sem acento, conferência (ao invés de encontro), ...

http://associacao.python.org.br/associacao/imprensa/noticias/convocacao-para-a-assembleia-geral-da-apyb-2015

[2015-10-23 03:02] #112 closed, assigned to taniaa

[2015-10-23 03:03] taniaa commented on #104
@filipeximenes É importante ter isso atualizado para a próxima assembleia tb... Pra ter certeza de quem poderia ficar do Conselho ou Suplente.

Conseguem ver isso?

[2015-10-23 03:05] taniaa commented on #103
Me enviaram e publiquei dia 20/10:
http://associacao.python.org.br/associacao/registro/atas/ata-009/view

[2015-10-23 03:05] #103 closed, assigned to nobody

[2015-10-23 03:07] taniaa commented on #84
Oi, @gilsondev!

Consegue mandar link do que já publicou? Queriam ajudar mas não sabia dizer o que já está pronto...

[2015-10-23 03:13] taniaa commented on #81
Oi, pesssoal. Esta issue foi resolvida? Navegando pelo site tem link que funciona[1], outros dão not found[2] e outros not found apresentado de outra forma[3]...

[1] http://docs.djangobrasil.org/casos-de-sucesso/
[2] https://www.djangoproject.com/documentation/model_api/
[3] http://docs.djangobrasil.org/intro/overview.html

[2015-10-23 12:41] lskbr commented on #98
Pessoal, eu tive alguns problemas, principalmente devido a criação de uma nova associação que participo. Mas devo voltar a trabalhar nos fontes o quanto antes.

[2015-10-23 12:45] filipeximenes commented on #104
Ok! @renatooliveira vai ficar responsável por essa.

[2015-10-23 13:10] gilsondev commented on #84
Consigo sim. Eu vou continuar a documentação em cima da nova versão do associados, já que mudaram para o Django 1.8

Arrumando isso, eu te mando sim ;)

[2015-10-24 13:01] taniaa commented on #98
Legal!

[2015-10-27 07:07] taniaa commented on #84
Combinado! Você está documentando no próprio repositório do sistema, né?

[2015-10-27 15:11] gilsondev commented on #84
Na propria estrutura do sistema, sim. Estou usando o sphinx para isso.

[2015-11-16 19:06] gilsondev commented on #98
@lskbr quando fui rodar o `make run` deu esse erro:

[code]

Aconteceu contigo?

[2015-11-16 19:28] lskbr commented on #98
Não Gilson, você está executando do branch?
Acho que a última versão do django que utilizei com o branch foi a 1.8.4. Tem um bug no componente de escolher cidades, mas não lembro deste que você teve. Talvez eu tenha esquecido de subir algum arquivo. Diga se é crítico para você ou se posso fazer só no fim de semana.

[2015-11-16 22:23] gilsondev commented on #98
estou usando a branch django1.8

[2015-11-16 22:23] gilsondev commented on #98
Não é critico não, estou iniciando a documentação do projeto na parte de:
- Introdução do projeto
- Arquitetura
- Configuração

[2015-11-17 11:40] lskbr commented on #98
Beleza! Muito bom ter a documentação.
Vou voltar a trabalhar no código e testo esse bug. Até o fim de semana te
atualizo.

2015-11-16 23:23 GMT+01:00 Gilson Filho notifications@github.com:

[2015-11-23 13:11] mazulo commented on #81
E aí, pessoal, bora mudar o site para o Pelican? :) +1 nele também.

[2015-11-23 13:38] mazulo commented on #89
Também me candidato a ajudar nessa parte. Ou já foi resolvida?

cc @renatooliveira @rochacbruno @rafaelgotts

[2015-11-23 13:49] mazulo commented on #56
Não sei se realmente ajudaria, mas o [Let's Encrypt](https://letsencrypt.org/2015/10/19/lets-encrypt-is-trusted.html) poderia ajudar nos certificados (caso ainda não esteja resolvida).

cc @taniaa @filipecifali

[2015-11-23 13:52] mazulo commented on #61
Se acessar o site usando `https` receberá um "This webpage is not available". Creio que esteja relacionado com esta issue #56 sobre os certificados.

Btw me disponho para fazer esta atualização

[2015-11-24 01:29] taniaa commented on #56
@filipecifali e @lskbr,
Sabem nos informar em que pé está isso?
Abraço

[2015-11-24 12:38] filipecifali commented on #56
@taniaa Vou olhar hoje a noite a situação do certificado, o Letsencrypt abriu beta para algumas pessoas, mas não sei se está "open beta" já.

[2015-11-26 18:05] rafaelgotts commented on #89
Que eu saiba não.

@rochacbruno @renatooliveira ?

[2015-11-26 22:23] diegorocha opened #113 "http://br.pycon.org/ aponta para a PythonBrasil 2014"
Existe um direcionamento http://br.pycon.org/ só que o mesmo está apontando pro site de 2014 que não é o mais recente.

nslookup br.pycon.org
Server:     192.168.1.1
Address:    192.168.1.1#53

Non-authoritative answer:
br.pycon.org    canonical name = www.pythonbrasil.org.br.
Name:   www.pythonbrasil.org.br
Address: 104.130.163.103

Embora o cname aponte para www.pythonbrasil.org.br (que é o site

[2015-11-30 16:32] diegorocha opened #114 "Acertar link para a PythonBrasil no site da PSF"
No site da PSF existe uma lista de conferências sobre Python  em https://www.python.org/community/workshops/

O site brasileiro aponta para http://pyconbrasil.com.br/ (e o nome está antigo).

Imagino que seja só enviar um e-mail para a PSF que eles acertem, mas o ideal é que alguém da apyb que mande esse e-mail para dar mais credibilidade.

[2015-11-30 18:45] rochacbruno commented on #114
Precisa abrir uma issue nesse repo: https://github.com/python/pythondotorg/issues

[2015-12-01 01:55] diegorocha commented on #114
Seguindo o que o @rochacbruno disse criei a issue https://github.com/python/pythondotorg/issues/860

[2015-12-01 11:34] rochacbruno commented on #114
:+1: foi resolvido!

[2015-12-01 11:34] #114 closed, assigned to nobody

[2015-12-22 23:43] luzfcb opened #115 "Corrigir sobrenome do David Beazley na edição do video do Youtube (está escrito com S e não com Z)"
Corrigir sobrenome do David Beazley na edição do vídeo(11s) do Youtube (está escrito com S e não com Z),

Tambem corrigir na descrição do video

https://www.youtube.com/watch?v=ZzfHjytDceU&index=5&list=PLDC3uVLxaEQ1WF1CbdDbUJ9nudBsKhTdi

@cadu-leite

[2015-12-29 20:18] filipecifali commented on #56
Repositório instalado em: /usr/local/install/letsencrypt

Certificados gerados em standalone:

wiki.apybr: nginx

./letsencrypt-auto certonly --standalone --agree-tos --redirect --duplicate --text --email sites@python.org.br -d python.org.br,www.python.org.br,wiki.python.org.br
./letsencrypt-auto certonly --standalone --agree-tos --redirect --duplicate --text --email sites@python.org.br -d pythonb

[2015-12-29 20:18] #56 closed

[2016-01-11 17:50] lskbr commented on #98
O site foi terminado ano passado. A migração para Django 1.8 foi realizada e algumas melhorias implementadas como: uso de um banco de dados para normalizar cidades/municipios e estados e melhoria na carga da página que lista as fotos de cada membro (chamadas a api do gravatar foram adicionadas ao cache). O deploy está com o Cadu.

[2016-01-11 17:50] #98 closed, assigned to lskbr

[2016-01-11 17:55] lskbr opened #116 "Criar subdominio para o PyNorte"
Olá, eu estou com o grupo PyNorte do Telegram. Como os grupos do norte são poucos, a ideia seria ter uma página única por enquanto. Estamos usando o stub do grupy-df.
O págia foi levantada aqui:
http://lskbr.github.io/grupybr-pynorte/
Não sei como ficaria o subdomínio:
pynorte.python.org ou
pynorte.am.python.org ?

[2016-01-11 18:01] diegorocha commented on #116
Acho que pynorte.python.org.br faz mais sentido, pois não é um sub grupo local de um estado (como é o floripa.sc.python.org.br), e sim um grupo de vários estados

[2016-01-11 18:15] filipecifali commented on #116
A pergunta real é: qual vocês preferem?

Nós temos subdomínios de outros grupos também (como pug-pe / pug-ce).python.org.br

Escolham e informem para onde deve estar apontado.

[2016-01-11 18:28] lskbr commented on #116
pynorte.python.org.br é perfeito.

Obrigado pela resposta rápida.

[2016-01-11 18:56] filipecifali commented on #116
O mais importante, para onde aponto ele?

Vai ficar na página http://lskbr.github.io/grupybr-pynorte/ mesmo?

[2016-01-11 18:57] luzfcb commented on #116
@lskbr como faz para entrar no grupo do Telegram PyNorte? (sou newbie de telegram)... Te mandei um convite do Hangouts

[2016-01-11 18:57] diegorocha commented on #116
@lskbr coloca no site um link para o invite link do grupo do telegram!

[2016-01-11 18:59] #79 closed

[2016-01-11 19:04] filipecifali commented on #116
Apontamento criado via CNAME:

;; ANSWER SECTION:
pynorte.python.org.br.  3600    IN  CNAME   lskbr.github.io.
lskbr.github.io.    3192    IN  CNAME   github.map.fastly.net.
github.map.fastly.net.  30  IN  A   199.27.76.133

Acho que tem que criar o arquivo lá no repositório agora, qualquer coisa faço outra alteração depois.

[2016-01-11 19:10] lskbr commented on #116
Opa, muito obrigado, já está funcionando.
Para entrar no grupo do Telegram, segue o Link: https://telegram.me/joinchat/COYq6QM8RkebVUVK1WxRHQ

[2016-01-11 19:10] #116 closed, assigned to nobody

[2016-01-14 13:04] lskbr opened #117 "Mudar domínio da PyNorte"
Olá,

Nós estamos nos reorganizando e acabamos por criar uma organização no GitHub.
Por favor apontar o pynorte.python.org.br para http://pynorte.github.io/grupybr-pynorte/

Obrigado,

Nilo

[2016-01-14 13:06] filipecifali commented on #117
Mudança de DNS efetuada:

pynorte.python.org.br
CNAME
pynorte.github.io
None

Basta aguardar o TTL de cache vencer.

[2016-01-14 13:06] #117 closed, assigned to nobody

[2016-02-04 14:47] diegorocha opened #118 "Criar subdominios para o PythOnRio"
O PythOnRio está reformulando a sua página no gh-pages (pythonrio.github.io).
O grupo tem interesse em dois subdominios: rj.python.org.br e pythonrio.python.org.br, o primeiro é para manter o padrão da comunidade e o segundo pois o grupo possui um nome peculiar mas que já bastante antigo e conhecido.

Resumindo: peço que sejam criados dois registros cname no dns python.org.br
rj e pythonrio ambos

[2016-02-24 23:00] rochacbruno opened #119 "Inclusão do Blog Catholabs no Planet"
Olá,

Gostaria de adicionar o feed: http://catholabs.com/tag/python.atom no Python Planet Brasil. Obrigado

[2016-03-09 12:42] filipecifali commented on #113
@sergiomario pode ver se configurando o github pages pra 2016 ele funciona?

@diegorocha essa URL ainda é relevante? Ela precisa existir?

[2016-03-09 12:48] filipecifali commented on #118
CNAMEs criados, já estão resolvendo ao nome certo:

dig @4.2.2.2 pythonrio.python.org.br                                                                                     [09:47:57]

; <<>> DiG 9.8.3-P1 <<>> @4.2.2.2 pythonrio.python.org.br
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 31423
;; flags: qr rd ra; QUERY: 1, ANSWER: 3,

[2016-03-09 12:48] #118 closed, assigned to nobody

[2016-03-09 12:50] sergiomario commented on #113
@filipecifali Já coloquei o domínio br.pycon.org no CNAME do nosso gh-pages.

[2016-03-09 12:51] filipecifali commented on #80
Falta terminar de revisar o /backup do plone.apybr (104.239.163.48)

Outros servidores:

Filesystem      Size  Used Avail Use% Mounted on
rootfs           20G  3.4G   16G  18% /

Filesystem      Size  Used Avail Use% Mounted on
rootfs           20G  1.8G   17G  10% /

[2016-03-09 16:39] diegorocha commented on #113
@filipecifali é o padrão da comunidade internacional. Mas não acho que deve ter tanta gente que chega no site por esse tipo de url não.

[2016-03-13 23:09] rougeth opened #120 "subdomínio para o evento Caipyra 2016"
@filipecifali por gentileza, add a configuração abaixo ao dns do python.org.br:

`CNAME caipyra.python.org.br -> grupyrp.github.io`

valeu! (:

[2016-03-14 13:12] filipecifali commented on #120
Feito!

dig caipyra.python.org.br +short
grupyrp.github.io.
github.map.fastly.net.
199.27.79.133

[2016-03-14 13:12] #120 closed, assigned to nobody

[2016-06-01 23:36] filipecifali opened #121 "Redirecionar conteúdo da wiki atual (MoinMoin)"
Novo hostname será old.wiki.python.org.br até não ser mais necessária

[2016-06-01 23:37] filipecifali opened #122 "Configuração de rsync entre os servidores"
Configurar comm interna entre os servidores para reduzir o número de servidores necessários para rodar os projetos da APyB

[2016-06-01 23:39] filipecifali commented on #122
Configuração realizada no maior servidor atual:

2 vCPU | 2G RAM | 40G Storage (104.239.163.48 - nomeado para server01.python.org.br)

Conteúdo base totalmente migrado.

[2016-06-01 23:39] #122 closed, assigned to filipecifali

[2016-06-01 23:43] filipecifali opened #123 "Configurar sites no server01.python.org.br"
Migrar os vhosts de Nginx e Lighttpd para Apache2, ficando no padrão somente um webserver para reduzir complexidade de uso e consumo de memória.

[2016-06-01 23:44] filipecifali commented on #123
Estão sendo armazenadas em /etc/apache2/sites-available para depois irem para sites-enabled assim que estiverem todas configuradas para mais tarde mudar o DNS dos sites

[2016-06-01 23:48] luzfcb commented on #123
pergunta: mas Apache não costuma gastar mais memoria RAM a medida que aumenta a quantidade de pessoas simultaneamente acessando ele? Lembro-me que essa era uma das desvantagens dele em relação ao Nginx (não sei a quantidade de conexões que isso vira algo com alguma importância real.)

[2016-06-01 23:59] filipecifali commented on #123
@luzfcb Não temos acessos o bastante para isso vir a ser um problema, hoje temos a maior parte do consumo de RAM pelas instâncias de Zope apenas, os webservers mal são tocados e com a constante mudança dos sites para o github.io menos são usados.

[2016-06-24 01:49] drgarcia1986 opened #124 "Inclusão do Blog do Diego Garcia no Planet"
Gostaria de adicionar meu blog (mais precisamente o [feed sobre python](http://www.diego-garcia.info/python.atom.xml)) na lista do Python Planet Brasil.

Muito obrigado.

[2016-07-12 19:15] luzfcb opened #125 "Atualizar links para a antiga wiki no mensagem de boas vindas do python-brasil no google groups"
https://groups.google.com/forum/#!forum/python-brasil
- Atualizar links para a antiga wiki no email de boas vindas do python-brasil no google groups

[2016-07-12 19:39] luzfcb commented on #125
#### Atualizei a mensagem de boas vindas para:

[code]

obs: Deixei os links apontando para Wiki antiga porque a wiki nova quase não possui conteúdo.
também inclui um link para a pagina da wiki nova das comunidades locais e a paginas de eventos.

#### Tambem atualizei a descrição do grupo para (somente corrigi os links da wiki antiga):

[code]

[2016-07-12 19:40] #125 closed, assigned to luzfcb

[2016-07-12 20:02] luzfcb commented on #125
@pythonbrasil/apyb-colaborators
caso posteriormente seja necessário atualizar algo na python-brasil no google groups, abra um issue e me marque.
Já tem alguns meses que o @pjwerneck me colocou com permissão de gerente na python-brasil no google groups, então também posso ajudar com algum problema por lá.

[2016-08-30 02:13] #54 closed

[2016-08-30 12:55] taniaa opened #126 "Verificar problema com contato do site da Associação"
Em teste que fiz, não deu erro (aparentemente) no envio, mas não recebi o mail.

Verificar config do servidor SMTP e log de erros do servidor.

[2016-08-30 12:57] taniaa commented on #101
Feito! Faltam os anos de 2010, 2011 e 2012 aqui:
http://associacao.python.org.br/associacao/organizacao/gestoes-anteriores

[2016-08-30 12:57] #101 closed, assigned to nobody

[2016-09-02 19:11] filipecifali commented on #126
Postfix configurado e Plone configurado para fazer o envio, disparei alguns testes e a princípio, ok!

[2016-09-02 19:11] #126 closed, assigned to filipecifali

[2016-09-05 12:24] taniaa commented on #126
Testado. Obrigada!

[2016-11-13 19:45] rougeth opened #127 "Gerar uma zona completa pra caipyra.python.org.br"

[2016-11-16 11:59] filipecifali commented on #127
Zona criada e apontamentos de @, www e 2016 feitos para o github.io

[2016-11-16 11:59] #127 closed, assigned to filipecifali

[2016-11-16 12:20] rodrigoamaral opened #128 "Criar subdomínio se.python.org.br (Python User Group Sergipe)"
O PUG-SE solicita criação de subdomínio se.python.org.br apontando para http://pug-se.github.io

[2016-11-16 12:47] filipecifali commented on #128
Registro modificado, não esqueça de colocar no projeto a configuração do domínio.

TTL de 60min

[2016-11-16 12:47] #128 closed, assigned to nobody

[2016-11-16 13:13] rodrigoamaral commented on #128
Obrigado!

##

Rodrigo Amaral
rodrigoamaral@gmail.com

On Wed, Nov 16, 2016 at 9:47 AM, Filipe Cifali Stangler <
notifications@github.com> wrote:

[2016-11-16 13:19] rougeth commented on #127
tks @filipecifali :+1:

[2016-12-19 11:37] riquellopes opened #129 "Inclusão do blog do Henrique Lopes no planet"
Gostaria adicionar meu blog https://medium.com/feed/@riquellopes/ na lista do Python Planet.

Obrigado.

[2016-12-21 15:34] riquellopes opened #130 "Python Planet - Redirect para página que não existe."
No site da [PlanetPython](http://planetpython.org/) na categoria **Other Python Planets** o [Planet Python Brasil](http://wiki.python.org.br/planet/) está sendo direcionado para o domínio errado. http://python.org.br/planet/

[2017-02-03 12:41] filipecifali commented on #113
Adicionei o server_name dentro da config do nginx, como não existia conf antes ele caia em um matching do ultimo vhost criado que era o de 2014.

Resolvido.

[2017-02-03 12:41] #113 closed, assigned to nobody

[2017-02-03 12:43] filipecifali commented on #123
Site django.org.br e djangobrasil migrados para o server01.
 Falta agora migrar o Nginx do 104.130.163.103 só e ainda vamos ter recursos sobrando no final da coisa toda.

[2017-02-20 20:10] #111 closed, assigned to nobody

[2017-02-24 04:02] #119 closed, assigned to nobody

[2017-02-24 04:02] rochacbruno commented on #119
1 year old.. closing..

[2017-03-02 18:00] filipecifali commented on #124
Oi Garcia, inclui teu blog de maneira automática aqui: https://github.com/pythonbrasil/planet

Primeiro commit de testes :+1:

[2017-03-02 18:00] #124 closed, assigned to nobody

[2017-03-02 18:03] diegorocha commented on #124
O planet já está lendo do arquivo desse repo?!

Se sim, que legal! Vai ficar muito mais fácil esse tipo de inclusão!

[2017-03-02 18:04] drgarcia1986 commented on #124
que legal, muito obrigado @filipecifali 👍

[2017-03-02 18:08] filipecifali commented on #129
Oi @riquellopes, você pode fazer diretamente através deste repositório: https://github.com/pythonbrasil/planet basta mandar um pull request com seus dados lá!

[2017-03-02 18:08] #129 closed, assigned to nobody

[2017-03-02 18:48] filipecifali commented on #115
@luzfcb agora você tem o poder! (ainda está errado?)

[2017-03-02 18:48] #115 closed, assigned to nobody

[2017-03-02 18:54] luzfcb commented on #115
@filipecifali está errado no video e não na descrição ou titulo no youtube. Teria que editar o vídeo, corrigir e fazer upload novamente...

https://youtu.be/ZzfHjytDceU?t=10s

não sei se há como fazer isso no youtube...

[2017-03-02 19:05] filipecifali commented on #130
Gerado PR no repositório deles: https://github.com/python/planet/pull/210

Obrigado pelo aviso @riquellopes

[2017-03-02 19:05] #130 closed, assigned to nobody

[2017-03-02 19:12] filipecifali commented on #119
Desculpa a demora @rochacbruno, agora esse trabalho ficou menos burocratico: https://github.com/pythonbrasil/planet (já adicionei o Catho labs lá)

[2017-03-02 19:22] filipecifali commented on #115
Puts... fica muito feio por uma daquelas box de texto por cima? :disappointed:

[2017-03-02 19:25] diegorocha commented on #115
Acho que é uma saída viável. Dentro do Box informar que o nome embedado no
vídeo está errado, e dizer o certo. Muitos canais "profissionais" fazem
isso.

[2017-03-02 20:10] luzfcb commented on #115
Fiz a mudança.... tá online (não gostei).... https://youtu.be/ZzfHjytDceU?t=7s

[2017-03-02 20:12] rochacbruno commented on #119
valeu!

[2017-03-03 13:26] filipecifali opened #131 "Trocar lighttpd do docs.django.org.br / media.django.org.br para Apache2"
Necessário converter os vhosts e colocar no ar direto no apache, sem proxies internos desnecessários

[2017-06-07 16:23] rochacbruno commented on #27
Acho que isso pode ser fechado não? ainda faz sentido registrar essas marcas?

[2017-06-13 20:33] taniaa commented on #27
Está parada, não foi resolvida e ainda há o risco de ocorrer o que falamos acima.

Por mim, deixa aberto.

[2017-06-13 20:41] taniaa commented on #121
Oi, @filipecifali !

O novo site python.org.br está no GitHub e no ar.

Mas o site antigo (old.wiki.python.org.br) agora aponta para a conferência PythonBrasil10...

Consegue apontar pro Moin Moin pra eu ver e migrar uns conteúdos?

[2017-06-13 20:45] taniaa commented on #104
@renatooliveira e @filipeximenes  fiz umas alterações lá pro dia 30/08/2016...

Está ok? Podemos fechar a thread ou precisa arrumar algo mais?

[2017-06-13 20:49] taniaa commented on #89
Aqui tem 63 vídeos da PythonBrasil6, 25 vídeos da PythonBrasil8, 38 vídeos da PythonBrasil11 e 72 vídeos da PythonBrasil12:

https://www.youtube.com/channel/UCiCQrFh8ckR_LXQyOAsOZiw/playlists

[2017-06-13 20:49] #89 closed, assigned to nobody

[2017-06-13 20:56] taniaa commented on #11
Oi, esta thread foi discutida na lista da apyb-condir dia 24/5/2017, pois as pyladies e outros voluntários trabalharam com o código de conduta que estava no github.

O Henrique Bastos fez um call com a Jéssica Temporal e Massanori.

Henrique, favor atualizar status deste ticket quando der ;)

Obrigada!

[2017-06-13 20:58] filipecifali commented on #121
@taniaa

Esse ainda não foi movido, está todo em: wiki.python.org.br/ rodando o moinmoin antigo

ainda tem muito conteúdo que não está no site novo

[2017-06-14 03:22] humrochagf commented on #121
seria legal mapear o que precisa ser migrado, eu fico meio perdido dentro da wiki antiga, se tiver uma relação do que precisa ser migrado se pá numa sentada eu resolvo essa parada

[2017-06-14 03:44] taniaa commented on #121
@humrochagf eu entendo bastante da estrutura do antigo... Podemos fazer um sprint e fechar isso em BH. Você vai pra PythonBrasil13? Senão estou disponível pra qq sábado de manhã destes...

[2017-06-14 13:34] humrochagf commented on #121
legal, podemos marcar um dia no calango, após o dojo podemos dar uma primeira olhada

[2017-06-14 13:48] taniaa commented on #121
Combinado!

[2017-06-29 19:27] filipecifali commented on #131
Tudo rodando em Apache do Django.org.br

[2017-06-29 19:27] #131 closed, assigned to filipecifali

[2017-07-23 16:30] paulohrpinheiro opened #132 "Adicionar blog ao Planeta PythonBrasil"
Por favor, poderiam adicionar esse feed ao agregador:

`https://paulohrpinheiro.xyz/feed.xml`

Obrigado

[2017-09-21 03:27] taniaa commented on #11
Última versão do código de conduta encontra-se no GitHub:
https://github.com/pythonbrasil/codigo-de-conduta

Divulgada na thread "[APyB] Anúncio: Novo CdC do Evento Python Brasil" na lista de discussão apyb-associados.

[2017-09-21 03:27] #11 closed

[2017-09-21 03:30] taniaa opened #133 "Subir logos restantes das conferências"
Atualmente faltam da PythonBrasil 10 (Porto de Galinhas/PE), 11 (São José dos Campos/SP) e 13 (Belo Horizonte/MG).

Subir para o site da Associação Python Brasil:
http://associacao.python.org.br/associacao/imprensa/logomarcas/logo-das-versoes-do-evento

[2018-03-26 13:55] marcosstefani opened #134 "Inclusão de Blog"
https://medium.com/@marcos.cantor

[2018-03-26 14:27] filipecifali commented on #134
Oi @marcosstefani você pode adicionar seu blog por aqui:

https://github.com/pythonbrasil/planet

Caso tenha alguma dúvida por favor posta uma issue lá :+1:

[2018-03-26 14:27] #134 closed, assigned to nobody

[2018-05-02 23:20] rochacon commented on #123
@humrochagf @filipecifali esta migração terminou? Esta issue ainda é relevante (e a #121)?

Tenho recebido e-mails frequentes do monitoramento configurado na Rackspace sobre downtime da wiki, mas me parece que tanto a wiki quanto o site foram migrados para um servidor da Cloudez [1].
Não encontrei issue ou e-mail sobre esta mudança mas posso não estar registrado nos canais que as discussões ocorre

[2018-05-03 14:38] humrochagf commented on #123
Ah, sim @rochacon pode desligar a notificação eu estou tocando a migração para a infra aqui da empresa que disponibilizou a estrutura de hospedagem monitoramento e automação para os sites da APyB e meu tempo para tocar o processo.

Já consegui resgatar os sites antigos dos eventos e já concluí a migração e instalação de https em todos os sites de eventos dês da primeira pycon até a deste ano, o si

[2018-05-04 10:02] rochacon commented on #123
@humrochagf boa! Eu desliguei as notificações mas deixei o [monitor](https://intelligence.rackspace.com/cloud/entities/enqGntnODf/checks/cht4lCqJMw) rodando, até que migremos ele para a nova infra ou outro serviço, assim não perdemos os dados de uptime. 😉

[2022-02-15 23:15] rougeth commented on #132
Planeta Python Brasil não está mais disponível.

[2022-02-15 23:17] rougeth commented on #97
Site atual contém estatuto atualizando.

[2022-02-15 23:17] #97 closed, assigned to nobody

[2022-02-15 23:20] rougeth commented on #132
Na verdade, Planet ainda está disponível em: https://planet.python.org.br/. Vou mander a issue fechada de qualquer forma. @paulohrpinheiro se ainda tiver interesse, abre um PR no site adicionando o seu feed.

[2022-02-15 23:20] #132 closed, assigned to nobody

[2022-02-15 23:28] rougeth commented on #8
Adicionei na descrição do canal:

https://www.youtube.com/c/pythonbrazil

Vou fechar essa issue, não acho que vale a pena baixar e refazer o upload de todos os vídeos.

[2022-02-15 23:28] #8 closed

[2022-02-16 00:27] rougeth commented on #9
Acredito que essa issue não é mais necessária, já que todos os sites foram migrados para arquivos estáticos. Fechando.

[2022-02-16 00:27] #9 closed

[2022-02-16 12:15] rougeth commented on #23
Fechando issue, já que todos os sites da APyB foram migrados e agora são estáticos. O único site não estático está no Heroku (associados.python.org.br).

[2022-02-16 12:15] #23 closed

[2022-02-16 12:16] rougeth commented on #94
Fechando issue, já que todos os sites da APyB foram migrados e agora são páginas estáticas.

[2022-02-16 12:16] #94 closed, assigned to nobody

[2022-02-16 12:17] rougeth commented on #80
Fechando issue, já que todos os sites da APyB foram migrados e agora são estáticos.

[2022-02-16 12:17] #80 closed

[2022-02-16 12:19] rougeth commented on #47
Acredito que essa issue não é mais relevante, já que o site da Associação foi migrado e agora é estático.

[2022-02-16 12:19] #47 closed

[2022-02-16 12:20] rougeth commented on #86
Fechando issue, já que todos os sites da APyB foram migrados e agora são estáticos.

[2022-02-16 12:20] #86 closed, assigned to rudaporto

[2022-02-16 12:20] rougeth commented on #25
Fechando issue, já que todos os sites da APyB foram migrados e agora são estáticos.

[2022-02-16 12:20] #25 closed

[2022-02-16 12:21] rougeth commented on #31
Fechando issue, já que todos os sites da APyB foram migrados e agora são estáticos.

[2022-02-16 12:21] #31 closed

[2022-02-16 12:23] rougeth commented on #88
Fechando issue, já que todos os sites da APyB foram migrados e agora são estáticos.

[2022-02-16 12:23] #88 closed, assigned to filipecifali

[2022-02-16 12:36] rougeth commented on #81
Não consegui encontrar onde o djangobrasil.org está registrado (ou se ainda está registrado com a APyB). Ainda temos django.org.br no registro.br, mas vou fechar a issue. Se alguém ainda tiver interesse, mande uma mensagem no [/apyb/comunidade](https://github.com/apyb/comunidade/discussions).

[2022-02-16 12:36] #81 closed

[2022-02-16 18:51] rougeth commented on #62
@luzfcb fechando a issue. Se você topar rever esse tópico e ainda fizer sentido, cria um issue no repositório do site, por favor.

https://github.com/pythonbrasil/wiki

[2022-02-16 18:51] #62 closed

[2022-02-16 18:53] rougeth commented on #61
Mesmo comentário da issue https://github.com/apyb/apyb.gerenciamento/issues/62

Fechando essa issue. Se vocês toparem rever esse tópico e ainda fizer sentido, vamos criar um issue no repositório do site.

https://github.com/pythonbrasil/wiki

[2022-02-16 18:53] #61 closed

[2022-02-16 19:30] rougeth commented on #32
- Donos (apenas emails institucionais python.org.br:
  - webmaster@
  - tecnologia@
- Moderação:
  - Atual gestão da APyB @apyb/diretoria

Vou adicionar na documentação de transição de gestão a mudança de moderação das listas.

[2022-02-16 19:30] #32 closed

[2022-02-16 19:37] rougeth commented on #57
Fechando issue, pelo que eu lembre, estamos tratando registros de domínio caso a caso.

[2022-02-16 19:37] #57 closed

[2022-02-16 20:47] rougeth commented on #27
Nº do Processo: 918321263
Marca: PYTHON
Situação: Registro de marca em vigor
Apresentação: Nominativa
Natureza: De Serviço
Titular(1): | PYTHON SOFTWARE FOUNDATION

https://busca.inpi.gov.br/pePI/servlet/MarcasServletController?Action=detail&CodPedido=4048435

[2022-02-16 20:47] #27 closed

[2022-02-16 21:00] rougeth commented on #24
Criei uma issue para automatizar backup do banco de dados do site dos associados (heroku): https://github.com/apyb/tarefas/issues/23

[2022-02-16 21:00] #24 closed

[2022-02-17 21:35] rougeth commented on #104
Fechando a issue, parece que o trabalho aqui foi feito, certo? Caso não, podemos reabri-la.

[2022-02-17 21:35] #104 closed, assigned to nobody

[2022-02-17 21:38] rougeth commented on #121
Fechando a issue. Site antigo está em wiki.python.org.br.

[2022-02-17 21:38] #121 closed, assigned to filipecifali

[2022-02-17 21:42] rougeth commented on #133
Issue replicada no repositório do manual da Python Brasil.

[2022-02-17 21:42] #133 closed, assigned to nobody

[2022-02-17 21:43] rougeth commented on #123
Fechando a issue, já que a migração do Rackspace foi concluída.

[2022-02-17 21:43] #123 closed, assigned to filipecifali